<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>{{ seo.title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ env.APP_URL }}assets/img/favicon.webp"/>
    <link href="{{ env.APP_URL }}assets/dashboard/layouts/css/light/loader.css" rel="stylesheet" type="text/css" />
    <link href="{{ env.APP_URL }}assets/dashboard/layouts/css/dark/loader.css" rel="stylesheet" type="text/css" />
    <script src="{{ env.APP_URL }}assets/dashboard/layouts/loader.js"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{{ env.APP_URL }}assets/dashboard/src/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="{{ env.APP_URL }}assets/dashboard/layouts/css/light/plugins.css" rel="stylesheet" type="text/css" />
    <link href="{{ env.APP_URL }}assets/dashboard/src/assets/css/light/authentication/auth-cover.css" rel="stylesheet" type="text/css" />

    <link href="{{ env.APP_URL }}assets/dashboard/layouts/css/dark/plugins.css" rel="stylesheet" type="text/css" />
    <link href="{{ env.APP_URL }}assets/dashboard/src/assets/css/dark/authentication/auth-cover.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link href="{{ env.APP_URL }}assets/dashboard/custom.css" rel="stylesheet" type="text/css" />


</head>
<<<<<<< Updated upstream
<body class="form">


<div class="auth-container d-flex">

    <div class="container mx-auto align-self-center">

        <div class="row">

            <div class="col-6 d-lg-flex d-none h-100 my-auto top-0 start-0 text-center justify-content-center flex-column">
                <div class="auth-cover-bg-image" style="background-image: url('{{ env.APP_URL }}assets/img/login-bk.jpg'); background-size: cover; background-repeat: no-repeat; background-position: right;"></div>
{#                <div class="auth-overlay"></div>#}

                <div class="auth-cover">

                    <div class="position-relative">

{#                        <img src="{{ env.APP_URL }}assets/dashboard/src/assets/img/auth-cover.svg" alt="auth-img">#}

                        <h2 class="mt-5 text-white font-weight-bolder px-2">Welcome to Our CRM Login</h2>
                        <p class="text-white px-2">Our CRM website streamlines your business processes, including managing taxes effortlessly.</p>
                    </div>

=======
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="bg-body">
<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
    <!--begin::Authentication - Sign-in -->
    <div class="d-flex flex-column flex-lg-row flex-column-fluid">
        <!--begin::Aside-->
        <div class="d-flex flex-column flex-lg-row-auto w-xl-600px positon-xl-relative" style="background-color: #000">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-600px scroll-y">
                <!--begin::Content-->
                <div class="d-flex flex-column text-center mt-20 p-10 pt-lg-20">
                    <!--begin::Logo-->
                    <a href="/" class="py-9 mb-5">
                        <img alt="Logo" src="{{ env.APP_URL }}assets/techneketax.png" class="h-60px" />
                    </a>
                    <!--end::Logo-->
                    <!--begin::Title-->
                    <h1 class="fw-bolder fs-2qx pb-5 pb-md-10" style="color: #fff;">Welcome Back!</h1>
                    <!--end::Title-->
                    <!--begin::Description-->
                    <p class="fw-bold" style="color: #fff;">At Techneke Tax, we’re thrilled to have you back! Our innovative tax software is designed to simplify your tax processes and maximize your efficiency. Log in to access your account and take advantage of the cutting-edge tools tailored for tax professionals like you.</p>
                    <!--end::Description-->
>>>>>>> Stashed changes
                </div>

            </div>

            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center ms-lg-auto me-lg-0 mx-auto">
                <div class="card">

                    <div class="card-body">
                        <div class="row text-center spinner">
                            <div class="col">
                                <span class="loader text-center"></span>
                            </div>
                        </div>
                       <div class="form-data" style="display: none;">
                           <div class="row">
                               <div class="col-12 text-center">
                                   <img src="{{ env.APP_URL }}assets/img/logo.webp" class="mt-2 mb-4" width="60%" alt="">
                               </div>
                           </div>
                           <div class="row">
                               <div class="col-md-12 mb-3">

                                   <h2>Sign In</h2>
                                   <p>Enter your email and password to login</p>
                         <div id="ErrorMessage"></div>
                               </div>
                               <div class="col-md-12">
                                   <div class="mb-3">
                                       <label class="form-label">Email</label>
                                       <input type="email" class="form-control" placeholder="type your email" id="email">
                                   </div>
                               </div>
                               <div class="col-12">
                                   <div class="mb-4">
                                       <label class="form-label">Password</label>
                                       <input type="password" class="form-control" placeholder="Password" id="password">
                                   </div>
                               </div>
                               <div class="col-12">
                                   <div class="mb-3">
                                       <p class="mb-0"> <a href="/forget-password" class="text-dark">Forget Password?</a></p>

                                   </div>
                               </div>

                               <div class="col-12">
                                   <div class="mb-4">
                                       <button type="button" class="btn btn-primary w-100" id="btn" onclick="do_login()">Login</button>
                                   </div>
                               </div>
                               <div class="col-12">
                                   <div class="text-center">
                                       <p class="mb-0">Don't have an account ? <a href="/register" class="text-dark">Sign Up</a></p>
                                   </div>
                               </div>

                           </div>
                       </div>

                    </div>
                </div>
            </div>
<<<<<<< Updated upstream
=======
            <!--end::Wrapper-->
        </div>
        <!--end::Aside-->
        <!--begin::Body-->
        <div class="d-flex flex-column flex-lg-row-fluid py-10">
            <!--begin::Content-->
            <div class="d-flex flex-center flex-column flex-column-fluid">
                <!--begin::Wrapper-->
                <div class="w-lg-500px p-10 p-lg-15 mx-auto">
                    <!--begin::Form-->
                    <form class="form w-100"  id="kt_sign_in_form" action="#">
                        <!--begin::Heading-->
                        <div class="text-center mb-10">
                            <!--begin::Title-->
                            <h1 class="text-dark mb-3">Sign In to Your Account</h1>
                            <p>Enter your email and password to access your Techneke Tax account.</p>
                            <!--end::Title-->
                            <!--begin::Link-->
                            <div class="text-gray-400 fw-bold fs-4">New Here?
                                <a href="/register" class="link-primary fw-bolder">Create an Account</a></div>
                            <!--end::Link-->
                        </div>
                        <!--begin::Heading-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-10">
                            <!--begin::Label-->
                            <label class="form-label fs-6 fw-bolder text-dark">Email</label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input class="form-control form-control-lg form-control-solid" type="text" id="email" name="email" autocomplete="off" />
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-10">
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-stack mb-2">
                                <!--begin::Label-->
                                <label class="form-label fw-bolder text-dark fs-6 mb-0">Password</label>
                                <!--end::Label-->
                                <!--begin::Link-->
                                <a href="/forget-password" class="link-primary fs-6 fw-bolder">Forgot Password ?</a>
                                <!--end::Link-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Input-->
                            <input class="form-control form-control-lg form-control-solid" type="password" name="password" autocomplete="off" id="password" />
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Actions-->
                        <div class="text-center">
                            <!--begin::Submit button-->
                            <button type="button" id="btn" class="btn btn-lg btn-primary w-100 mb-5" onclick="do_login()">
                                <span class="indicator-label">Login</span>
                            </button>
>>>>>>> Stashed changes

        </div>

    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script src="{{ env.APP_URL }}assets/dashboard/src/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- END GLOBAL MANDATORY SCRIPTS -->
<script>
    $(document).ready(function() {
        document.getElementById("cover-spin").classList.add('hide');
    });
    // Get the input field
    var input = document.getElementById("password");
    // Execute a function when the user presses a key on the keyboard
    input.addEventListener("keypress", function(event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("btn").click();
        }
    });
    var myInput = document.getElementById("password");
    // When the user clicks on the password field, show the message box
    myInput.oninput = function() {
        document.getElementById("btn").disabled = false;
    }
    // LOGIN AND SIGNUP JS
    function do_login()
    {
        var email=$("#email").val();
        var pass=$("#password").val();
        var csrf_token=$("input[name=csrf]").val();

        if(email!="" && pass!="") {
            document.getElementById("btn").innerHTML = "Loading";
            document.getElementById("btn").disabled = true;
            $.ajax
            ({
                type:'post',
                url:'/login',
                data:{
                    do_login:"do_login",
                    email:email,
                    password:pass,
                    table_name:'users',
                    type:'user',
                    csrf:csrf_token,
                },
                success:function(response) {
                    response=$.parseJSON(response);
                    if(response['statusCode']=="200") {
                        window.location.href=response.path;
                    }else if(response['statusCode']=="202"){
                        document.getElementById("btn").innerHTML = "Log In";
                        document.getElementById("btn").disabled = false;
                        $('#ErrorMessage').html("<div class='alert alert-danger mt-4'>"+response['message']+"</div>");
                    }
                    else{
                        document.getElementById("btn").innerHTML = "Log In";
                        document.getElementById("btn").disabled = false;
                        $("#loading_spinner").css({"display":"none"});
                        $('#ErrorMessage').html("<div class='alert alert-danger mt-4'>"+response['message']+"</div>");
                    }
                }
            });
        }
        else
        {
            document.getElementById("btn").innerHTML = "Log In";
            // document.getElementById("btn").disabled = true;
            $('#ErrorMessage').html("<div class='alert alert-danger mt-4'>Missing Required Input</div>");
        }
        return false;
    }
</script>
<script>
    $(document).ready(function() {
        // Wait for 2 seconds
        setTimeout(function() {
            // Hide the spinner
            $('.spinner').hide();
            // Show the form-data div after 2 seconds
            $('.form-data').show();
        }, 1000); // 2000 milliseconds = 2 seconds
    });
</script>
</body>
</html>