<!doctype html>
<html lang="en" data-footer="true">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>{{ seo.title }}</title>
    <link rel="icon" type="image/webp" href="{{ env.APP_URL }}assets/img/favicon.webp"/>

    <link href="{{ env.APP_URL }}assets/dashboard/layouts/css/light/loader.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ env.APP_URL }}assets/dashboard/src/plugins/src/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="{{ env.APP_URL }}assets/dashboard/src/plugins/css/light/table/datatable/dt-global_style.css">
    <link rel="stylesheet" type="text/css" href="{{ env.APP_URL }}assets/dashboard/src/plugins/css/light/table/datatable/custom_dt_custom.css">
    {#<script src="{{ env.APP_URL }}assets/dashboard/layouts/loader.js"></script>#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{{ env.APP_URL }}assets/dashboard/src/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ env.APP_URL }}assets/dashboard/layouts/css/light/plugins.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="{{ env.APP_URL }}assets/dashboard/src/assets/css/light/main.css">
    <link rel="stylesheet" href="{{ env.APP_URL }}assets/dashboard/src/plugins/css/light/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="{{ env.APP_URL }}assets/dashboard/src/plugins/src/waves/waves.min.css">
    <link rel="stylesheet" href="{{ env.APP_URL }}assets/dashboard/layouts/css/light/structure.css">
    <link rel="stylesheet" href="{{ env.APP_URL }}assets/dashboard/src/plugins/src/highlight/styles/monokai-sublime.css">
    <link rel="stylesheet" type="text/css" href="{{ env.APP_URL }}assets/dashboard/src/plugins/src/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="{{ env.APP_URL }}assets/dashboard/src/plugins/css/light/table/datatable/dt-global_style.css">
        <link href="{{ env.APP_URL }}assets/dashboard/src/assets/css/light/apps/invoice-preview.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://designreset.com/cork/html/src/assets/css/light/elements/alert.css"> <style> .custom-alert-1{ background-image: linear-gradient(135deg, #313131 0%, #4e4e4e 100%); } </style>
    <style>
        .cke_notifications_area{
            display: none !important;
        }
        /* Pagination Button Styling */
        .dataTables_wrapper .dataTables_paginate {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            margin: 0 5px;
            padding: 5px 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 0.9em;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background-color: #0056b3;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            background-color: #0056b3;
            font-weight: bold;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
            background-color: #ed141f1c;
            cursor: not-allowed;
        }
        .page-item.active .page-link {
            background-color: #ED141F !important;
        }
        li.paginate_button.page-item.active{
            background-color: #ED141F !important;
        }
        div#table_info{
            color: #262626 !important;
            margin: 3px !important;
        }
        div#table_length {
            margin: 7px !important;
        }
        .dataTables_wrapper {
            padding: 6px !important;
        }
        /* Show Entries and Search Fields Styling */
        .dataTables_wrapper .dataTables_length,
        .dataTables_wrapper .dataTables_filter {
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .dataTables_wrapper .dataTables_length select {
            margin-right: 10px;
            padding: 5px;
        }

        .dataTables_wrapper .dataTables_filter input {
            margin-left: 10px;
            padding: 5px;
        }
        li#table_previous{
            padding-left: 20px;
            padding-right: 20px;
        }
        .table > thead > tr > th{
            background: #ed141f1c !important;
        }
    </style>
</head>
<body class="layout-boxed">




<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">
            <div class="middle-content container-xxl p-0">

                <div class="row invoice layout-top-spacing layout-spacing">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                        <div class="doc-container">

                            <div class="row">

                                <div class="col-xl-9" >

                                    <div class="invoice-container">
                                        <div class="invoice-inbox" id="printableArea">
                                            <div id="ct" class="">
                                                <div class="invoice-00001">
                                                    <div class="content-section">

                                                        <div class="inv--head-section inv--detail-section">

                                                            <div class="row">

                                                                <div class="col-sm-6 col-12 mr-auto">
                                                                    <div class="d-flex">
                                                                        {% if firmInfo[0].white_labeling != "no" %}
                                                                        {% if firmInfo[0].company_image != "" and firmInfo[0].company_image != "null" %}
                                                                            <img width="40%" src="{{ env.APP_URL }}uploads/profile/{{ firmInfo[0].company_image }}" alt="company" class="bg-light-secondary">
                                                                        {% else %}
                                                                            <img width="40%" src="{{ env.APP_URL }}uploads/settings/{{ logo }}" alt="company">
                                                                        {% endif %}
                                                                        {% else %}
                                                                            <img width="40%" src="{{ env.APP_URL }}uploads/settings/{{ logo }}" alt="company">
                                                                        {% endif %}
                                                                    </div>
                                                                    <p class="inv-street-addr mt-3">{{ invoiceInfo[0].firm_address }}</p>
                                                                    <p class="inv-email-address">{{ invoiceInfo[0].firm_email }}</p>
                                                                    <p class="inv-email-address">{{ invoiceInfo[0].firm_phone }}</p>
                                                                </div>

                                                                <div class="col-sm-6 text-sm-end">
                                                                    <p class="inv-list-number mt-sm-3 pb-sm-2 mt-4"><span class="inv-title">Invoice : </span> <span class="inv-number">{{ invoiceInfo[0].invoice_number }}</span></p>
                                                                    <p class="inv-created-date mt-sm-5 mt-3"><span class="inv-title">Invoice Date : </span> <span class="inv-date">{{ invoiceInfo[0].invoice_date }}</span></p>
                                                                    <p class="inv-due-date"><span class="inv-title">Due Date : </span> <span class="inv-date">{{ invoiceInfo[0].due_date }}</span></p>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="inv--detail-section inv--customer-detail-section">

                                                            <div class="row">

                                                                <div class="col-xl-8 col-lg-7 col-md-6 col-sm-4 align-self-center">
                                                                    <p class="inv-to">Invoice To</p>
                                                                </div>

                                                                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 align-self-center order-sm-0 order-1 text-sm-end mt-sm-0 mt-5">
                                                                    <h6 class=" inv-title">Invoice From</h6>
                                                                </div>

                                                                <div class="col-xl-8 col-lg-7 col-md-6 col-sm-4">
                                                                    <p class="inv-customer-name">{{ clientInfo[0].fname }} {{ clientInfo[0].lname }}</p>
                                                                    <p class="inv-street-addr">{{ invoiceInfo[0].client_address }}</p>
                                                                    <p class="inv-email-address">{{ invoiceInfo[0].client_email }}</p>
                                                                    <p class="inv-email-address">{{ invoiceInfo[0].client_phone }}</p>
                                                                </div>

                                                                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12 order-sm-0 order-1 text-sm-end">
                                                                    <p class="inv-customer-name">{{ invoiceInfo[0].firm_name }}</p>
                                                                    <p class="inv-street-addr">{{ invoiceInfo[0].firm_address }} </p>
                                                                    <p class="inv-email-address">{{ invoiceInfo[0].firm_email }}</p>
                                                                    <p class="inv-email-address">{{ invoiceInfo[0].firm_phone }}</p>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="inv--product-table-section">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead class="">
                                                                    <tr>
                                                                        <th scope="col">S.No</th>
                                                                        <th scope="col">Items</th>
                                                                        <th class="text-end" scope="col">Qty</th>
                                                                        <th class="text-end" scope="col">Price</th>
                                                                        <th class="text-end" scope="col">Amount</th>
                                                                    </tr>

                                                                    </thead>
                                                                    <tbody>
                                                                    {% set item_des = ProductDetails.item_des ? ProductDetails.item_des|split(',') : [] %}
                                                                    {% set price = ProductDetails.price ? ProductDetails.price|split(',') : [] %}
                                                                    {% set quantity = ProductDetails.quantity ? ProductDetails.quantity|split(',') : [] %}
                                                                    {% set amount_item = ProductDetails.amount_item ? ProductDetails.amount_item|split(',') : [] %}
                                                                    {% set hasData = item_des|filter(v => v != '')|length > 0 or price|filter(v => v != '')|length > 0 or quantity|filter(v => v != '')|length > 0 or amount_item|filter(v => v != '')|length > 0 %}

                                                                    {% if hasData %}
                                                                        {% for i in 0..item_des|length - 1 %}
                                                                            {#                                                                            {% if item_des[i] is empty and price[i] is empty and quantity[i] is empty and amount_item[i] is empty %}#}
                                                                            {#                                                                                {% continue %} #}
                                                                            {#                                                                            {% endif %}#}
                                                                            {% set SrNo = i + 1 %}
                                                                            <tr>
                                                                                <td>{{ SrNo }}</td>
                                                                                <td>{{ item_des[i]|e }}</td>
                                                                                <td class="text-end">{{ quantity[i]|e }}</td>
                                                                                <td class="text-end">${{ price[i]|e }}</td>
                                                                                <td class="text-end">${{ amount_item[i]|e }}</td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>

                                                        <div class="inv--total-amounts">

                                                            <div class="row mt-4">
                                                                <div class="col-sm-5 col-12 order-sm-0 order-1">
                                                                </div>
                                                                <div class="col-sm-7 col-12 order-sm-1 order-0">
                                                                    <div class="text-sm-end">
                                                                        <div class="row">
                                                                            <div class="col-sm-8 col-7">
                                                                                <p class="">Sub Total :</p>
                                                                            </div>
                                                                            <div class="col-sm-4 col-5">
                                                                                <p class="">${{ invoiceInfo[0].subtotal }}</p>
                                                                            </div>
                                                                            <div class="col-sm-8 col-7">
                                                                                <p class=" discount-rate">Discount {% if invoiceInfo[0].discount_type == "Percent"  %}{{ invoiceInfo[0].discount_amount }}%    {% endif %}:</p>
                                                                            </div>
                                                                            <div class="col-sm-4 col-5">
                                                                                <p class="">${{ invoiceInfo[0].discount_amount_total }}</p>
                                                                            </div>
                                                                            <div class="col-sm-8 col-7 grand-total-title mt-3">
                                                                                <h4 style="color: #515365;">Grand Total : </h4>
                                                                            </div>
                                                                            <div class="col-sm-4 col-5 grand-total-amount mt-3">
                                                                                <h4 style="color: #515365;">${{ invoiceInfo[0].final_total }}</h4>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="inv--note">

                                                            <div class="row mt-4">
                                                                <div class="col-sm-12 col-12 order-sm-0 order-1">
                                                                    <p >Note:{{ invoiceInfo[0].invoice_detail_notes }}</p>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-xl-3">

                                    <div class="invoice-actions-btn">

                                        <div class="invoice-action-btn">

                                            <div class="row">
                                                <div class="col-xl-12 col-md-3 col-sm-6">
                                                    <a href="javascript:void(0);" class="btn btn-secondary btn-print  action-print">Print</a>
                                                </div>
                                                <div class="col-xl-12 col-md-3 col-sm-6">
                                                    <button type="button" class="btn btn-success btn-download w-100" id="download">Download</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        <!--  BEGIN FOOTER  -->
        <div class="footer-wrapper">
            <div class="footer-wrapper">
                <div class="footer-section f-section-1">
                    <p class="">Copyright © <span class="dynamic-year">2024</span> <a target="_blank" href="https://zotecsoft.com/">ZotecSoft</a>, All rights reserved.</p>
                </div>
            </div>
        </div>
</div>
<!-- END MAIN CONTAINER -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ env.APP_URL }}assets/dashboard/src/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ env.APP_URL }}assets/dashboard/src/plugins/src/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="{{ env.APP_URL }}assets/dashboard/src/plugins/src/mousetrap/mousetrap.min.js"></script>
<script src="{{ env.APP_URL }}assets/dashboard/src/plugins/src/waves/waves.min.js"></script>
{#<script src="{{ env.APP_URL }}assets/dashboard/layouts/app.js"></script>#}
<script src="{{ env.APP_URL }}assets/dashboard/src/assets/js/custom.js"></script>
<script src="{{ env.APP_URL }}assets/dashboard/src/plugins/src/table/datatable/datatables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js" integrity="sha512-u3fPA7V8qQmhBPNT5quvaXVa1mnnLSXUep5PS1qo5NRzHwG19aHmNJnj1Q8hpA/nBWZtZD4r4AX6YOt5ynLN2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ env.APP_URL }}assets/dashboard/src/assets/js/apps/invoice-preview.js"></script>
<script src="{{ env.APP_URL }}assets/dashboard/layouts/modern-light-menu/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
<script>
    window.onload = function () {
        document.getElementById("download")
            .addEventListener("click", () => {
                const invoice = this.document.getElementById("printableArea");
                let x = "Invoice";

                var opt = {
                    margin: 0,
                    filename: x + '.pdf',
                    image: {
                        type: 'jpeg',
                        quality: 0.98
                    },
                    html2canvas: {
                        dpi: 192,
                        letterRendering: true
                    },
                    jsPDF: {
                        unit: 'in',
                        format: 'a4', // Change format to 'a4' or any other desired format
                        orientation: 'landscape', // Change orientation to 'landscape' for wider width
                    }
                };
                html2pdf().from(printableArea).set(opt).save();
            })
    }
</script>
<script>
    $(document).ready(function() {
        // Load the spinner initially
        $('#spinner-outer').show();

        // Use setTimeout to delay the loading of the content
        setTimeout(function() {
            // Hide the spinner and show the content with an animation
            $('#spinner-outer').hide();
            $('#content-container').fadeIn(500); // or slideDown, etc.
        }, 2000); // adjust this value as needed

    });

</script>

</body>
</html>

