{% extends 'user/master.twig' %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ env.APP_URL }}assets/dashboard/src/plugins/src/stepper/bsStepper.min.css">
    <link rel="stylesheet" type="text/css" href="{{ env.APP_URL }}assets/dashboard/src/plugins/css/light/stepper/custom-bsStepper.css">

    <style>
        .step.crossed .step-trigger.disabled .bs-stepper-circle, .step.crossed .step-trigger:disabled .bs-stepper-circle {
            background-color: #ed141f !important;
            color: #fff;
        }
        .active .bs-stepper-circle{
            background-color: #ed141f !important;
        }
        .is-invalid {
            border-color: #dc3545;
        }
    </style>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Toolbar-->
    <div class="toolbar" id="kt_toolbar">
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                <!--begin::Title-->
                <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Interviews</h1>
                <!--end::Title-->
                <!--begin::Separator-->
                <span class="h-20px border-gray-300 border-start mx-4"></span>
                <!--end::Separator-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">Dashboard</li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-300 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-dark">Interviews</li>
                    <!--end::Item-->
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
        </div>
    </div>
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-fluid">
        <div class="layout-px-spacing">
            <div class="middle-content container-fluid p-0">
                <div class="row layout-top-spacing" id="cancel-row">
                    <div class="col-lg-12 layout-spacing">
                        <div class="statbox widget box box-shadow card">
                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12" >
                                        <h4 style="    padding: 27px 20px 0px 34px;">{{ template[0].name |capitalize}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content widget-content-area">
                                <div class="bs-stepper stepper-form-one">
                                    <div class="bs-stepper-header" role="tablist">
                                        {% for section in sections %}
                                            <div class="step" data-target="#step-{{ loop.index }}">
                                                <button type="button" class="step-trigger" role="tab">
                                                    <span class="bs-stepper-circle">{{ loop.index }}</span>
                                                    <span class="bs-stepper-label">Step {{ loop.index }}</span>
                                                </button>
                                            </div>
                                            {% if not loop.last %}
                                                <div class="line"></div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="bs-stepper-content">
                                        <form id="dynamicForm" action="/user/template/view" method="post" enctype="multipart/form-data">
                                            <input type="hidden" name="template_id" value="{{ template[0].id }}">
                                            <input type="hidden" name="user_id" value="{{ template_request[0].user_id }}">

                                            {% for section in sections %}
                                                <div id="step-{{ loop.index }}" class="content m-3" role="tabpanel">
                                                    {% for question in section.questions %}
                                                        {% if question.type == 'none' %}
                                                            <!-- If type is 'none', display as a heading and skip inputs -->
                                                            <h4 class="mt-3">{{ question.question|default('No Question') }}</h4>
                                                        {% else %}
                                                            <div class="form-group">

                                                            {% if question.type == 'signature' %}
                                                                <label for="question-{{ question.id }}" class="mt-3" style="font-weight: bold; font-size: 18px; margin-bottom: 15px;">{{ question.question|default('No Question') }}</label>
                                                            {% else %}
                                                                <label for="question-{{ question.id }}" class="mt-3">{{ question.question|default('No Question') }}</label>
                                                                {% endif %}
                                                                {% if question.type == 'text' %}
                                                                    <input type="text" class="form-control form-control-solid {% if question.required %}required-input{% endif %}" id="question-{{ question.id }}" name="questions[{{ question.id }}][value]" placeholder="{{ question.question }}">
                                                                {% elseif question.type == 'email' %}
                                                                    <input type="email" class="form-control form-control-solid {% if question.required %}required-input{% endif %}" id="question-{{ question.id }}" name="questions[{{ question.id }}][value]" placeholder="{{ question.question }}">
                                                                {% elseif question.type == 'textarea' %}
                                                                    <textarea class="form-control form-control-solid {% if question.required %}required-input{% endif %}" id="question-{{ question.id }}" name="questions[{{ question.id }}][value]" placeholder="{{ question.question }}"></textarea>
                                                                {% elseif question.type == 'radio' %}
                                                                    {% for option in question.options %}
                                                                        <div class="form-check  mb-3">
                                                                            <input class="form-check-input {% if question.required %}required-input{% endif %}" type="radio" name="questions[{{ question.id }}][value]" id="question-{{ option.option_text }}" value="{{ option.option_text }}">
                                                                            <label class="form-check-label" for="question-{{ option.option_text }}">
                                                                                {{ option.option_text|default('No Text') }}
                                                                            </label>
                                                                        </div>
                                                                    {% endfor %}
                                                                {% elseif question.type == 'checkbox' %}
                                                                    {% for option in question.options %}
                                                                        <div class="form-check mb-3">
                                                                            <input class="form-check-input {% if question.required %}required-input{% endif %}" type="checkbox" name="questions[{{ question.id }}][value][]" id="question-{{ option.option_text }}" value="{{ option.option_text }}">
                                                                            <label class="form-check-label" for="question-{{ option.option_text }}">
                                                                                {{ option.option_text|default('No Text') }}
                                                                            </label>
                                                                        </div>
                                                                    {% endfor %}
                                                                {% elseif question.type == 'select' %}
                                                                    <select class="form-select form-select-solid {% if question.required %}required-input{% endif %}" id="question-{{ question.id }}" name="questions[{{ question.id }}][value]">
                                                                        {% for option in question.options %}
                                                                            <option value="{{ option.option_text }}">{{ option.option_text|default('No Text') }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                {% elseif question.type == 'date' %}
                                                                    <input type="date" class="form-control form-control-solid {% if question.required %}required-input{% endif %}" id="question-{{ question.id }}" name="questions[{{ question.id }}][value]">
                                                                {% elseif question.type == 'time' %}
                                                                    <input type="time" class="form-control form-control-solid {% if question.required %}required-input{% endif %}" id="question-{{ question.id }}" name="questions[{{ question.id }}][value]">
                                                                {% elseif question.type == 'password' %}
                                                                    <input type="password" class="form-control form-control-solid {% if question.required %}required-input{% endif %}" id="question-{{ question.id }}" name="questions[{{ question.id }}][value]">
                                                                {% elseif question.type == 'number' %}
                                                                    <input type="number" class="form-control form-control-solid {% if question.required %}required-input{% endif %}" id="question-{{ question.id }}" name="questions[{{ question.id }}][value]">
                                                                {% elseif question.type == 'datetime-local' %}
                                                                    <input type="datetime-local" class="form-control form-control-solid {% if question.required %}required-input{% endif %}" id="question-{{ question.id }}" name="questions[{{ question.id }}][value]">
                                                                {% elseif question.type == 'file' %}
                                                                    <input type="file" class="form-control form-control-solid {% if question.required %}required-input{% endif %}" id="question-{{ question.id }}" name="questions[{{ question.id }}][value]">
                                                                {% elseif question.type == 'signature' %}
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <canvas id="signature-{{ question.id }}" width="300px" height="200" style="background-color: aliceblue"></canvas>
                                                                            <input type="hidden" class="{% if question.required %}required-input{% endif %}" name="questions[{{ question.id }}][value]" id="input-signature-{{ question.id }}">
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <button class="btn btn-success ml-3 clear-signature" type="button" data-id="{{ question.id }}">Clear Signature</button>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                                <!-- Include hidden inputs unless question type is 'none' -->
                                                                <input type="hidden" name="questions[{{ question.id }}][label]" value="{{ question.question }}">
                                                                <input type="hidden" name="questions[{{ question.id }}][section_id]" value="{{ section[0].id }}">
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                    <div class="button-action mt-5">
                                                        {% if not loop.first %}
                                                            <button type="button" class="btn btn-primary btn-prev me-3">Prev</button>
                                                        {% endif %}
                                                        {% if not loop.last %}
                                                            <button type="button" class="btn btn-primary btn-nxt">Next</button>
                                                        {% else %}
                                                            <button type="submit" class="btn btn-success me-3 submitBtn" id="btn-template">Submit</button>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/signature_pad"></script>
    <script src="{{ env.APP_URL }}assets/dashboard/src/plugins/src/stepper/bsStepper.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var signaturePads = {};

            document.querySelectorAll('canvas[id^="signature-"]').forEach(function (canvas) {
                var questionId = canvas.id.split('-')[1];
                signaturePads[questionId] = new SignaturePad(canvas);

                function submitSignatureData() {
                    var signatureData = signaturePads[questionId].toDataURL();
                    document.getElementById('input-signature-' + questionId).value = signatureData;
                }

                // Continuously save signature data to the hidden input field every second
                setInterval(submitSignatureData, 1000);
            });

            document.querySelectorAll('.clear-signature').forEach(function (button) {
                button.addEventListener('click', function () {
                    var questionId = this.dataset.id;
                    signaturePads[questionId].clear();
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var stepperWizardDefault = document.querySelector('.stepper-form-one');
            var stepperDefault = new Stepper(stepperWizardDefault, {
                animation: true
            });

            var stepperNextButtonDefault = stepperWizardDefault.querySelectorAll('.btn-nxt');
            var stepperPrevButtonDefault = stepperWizardDefault.querySelectorAll('.btn-prev');

            stepperNextButtonDefault.forEach(element => {
                element.addEventListener('click', function () {
                    var currentStep = stepperDefault._currentIndex;
                    var currentStepElement = stepperWizardDefault.querySelector('.content:nth-of-type(' + (currentStep + 1) + ')');
                    console.log('Validating step:', currentStep);
                    console.log('Current step element:', currentStepElement);
                    if (validateStep(currentStepElement)) {
                        stepperDefault.next();
                    } else {
                        console.log('Validation failed for step:', currentStep);
                    }
                });
            });

            stepperPrevButtonDefault.forEach(element => {
                element.addEventListener('click', function () {
                    stepperDefault.previous();
                });
            });

            stepperWizardDefault.addEventListener('show.bs-stepper', function (event) {
                if (event.detail.from < event.detail.to) {
                    stepperWizardDefault.querySelectorAll('.step')[event.detail.from].classList.add('crossed');
                } else {
                    stepperWizardDefault.querySelectorAll('.step')[event.detail.to].classList.remove('crossed');
                }
            });

            function validateStep(stepElement) {
                var isValid = true;
                var requiredInputs = stepElement.querySelectorAll('.required-input');
                console.log('Required inputs:', requiredInputs);

                requiredInputs.forEach(input => {
                    if (input.type === 'radio' || input.type === 'checkbox') {
                        var name = input.name;
                        var group = stepElement.querySelectorAll('input[name="' + name + '"]');
                        var checked = stepElement.querySelectorAll('input[name="' + name + '"]:checked').length > 0;
                        if (!checked) {
                            group.forEach(option => {
                                option.classList.add('is-invalid');
                            });
                            isValid = false;
                        } else {
                            group.forEach(option => {
                                option.classList.remove('is-invalid');
                            });
                        }
                    } else if (input.tagName.toLowerCase() === 'select') {
                        if (!input.value) {
                            input.classList.add('is-invalid');
                            isValid = false;
                        } else {
                            input.classList.remove('is-invalid');
                        }
                    } else if (input.tagName.toLowerCase() === 'textarea') {
                        if (!input.value.trim()) {
                            input.classList.add('is-invalid');
                            isValid = false;
                        } else {
                            input.classList.remove('is-invalid');
                        }
                    } else {
                        if (!input.value) {
                            input.classList.add('is-invalid');
                            isValid = false;
                        } else {
                            input.classList.remove('is-invalid');
                        }
                    }
                });

                return isValid;
            }

            // Optional: Add CSS for highlighting invalid inputs
            var style = document.createElement('style');
            style.innerHTML = `
                .is-invalid {
                    border-color: #dc3545 !important;
                }
            `;
            document.head.appendChild(style);

            $('#dynamicForm').on('submit', function (event) {
                event.preventDefault();
                var allStepsValid = true;
                var steps = stepperWizardDefault.querySelectorAll('.content');

                // Temporarily show all steps for validation
                steps.forEach(step => step.style.display = 'block');

                for (var i = 0; i < steps.length; i++) {
                    var stepElement = steps[i];
                    if (!validateStep(stepElement)) {
                        allStepsValid = false;
                        stepperDefault.to(i + 1); // Navigate to the first invalid step (index is 1-based in bsStepper)
                        stepElement.querySelector('.is-invalid').focus(); // Focus the first invalid control
                        break;
                    }
                }

                // Hide all steps except the current one
                steps.forEach((step, index) => {
                    if (index !== stepperDefault._currentIndex) {
                        step.style.display = 'none';
                    }
                });

                if (allStepsValid) {
                    var formData = new FormData(this);

                    // Debugging: Log FormData entries to ensure correct submission
                    for (var pair of formData.entries()) {
                        console.log(pair[0]+ ', ' + pair[1]);
                    }
                    document.getElementById('btn-template').disabled = true;
                    document.getElementById("btn-template").innerHTML = "Loading";
                    $.ajax({
                        url: $(this).attr('action'),
                        type: 'POST',
                        data: formData,
                        processData: false,  // Important!
                        contentType: false,  // Important!
                        success: function (response) {
                            document.getElementById('btn-template').disabled = false;
                            document.getElementById("btn-template").innerHTML = "Submit";
                            console.log(response);
                            if (response === 'Data saved successfully!') {
                                toastr.success('Data saved successfully.');
                                document.getElementById("dynamicForm").reset();
                                setTimeout(function(){
                                    window.location.href = '/client/document'; // Redirect to display page
                                }, 2000); //Time before execution

                            } else {
                                toastr.error('Something went wrong. Please try again.');
                            }
                        },
                        error: function () {
                            toastr.error('Something went wrong. Please try again.');
                        }
                    });
                } else {
                    console.log('Form validation failed. Submission prevented.');
                }
            });

        });

    </script>
    <script>
    </script>
{% endblock %}
