<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
    <!--begin::Container-->
    <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
        <!--begin::Copyright-->
        <div class="text-dark order-2 order-md-1">
            Copyright © <span class="dynamic-year">2024</span> Techneketax, All rights reserved.
        </div>
        <!--end::Copyright-->
        <!--begin::Menu-->
        <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
            <li class="menu-item">
                <div id="google_translate_element" style="display: none"></div>
                <!-- Custom Language Selector -->
                <select id="languageSelect" class=" form-select form-select-solid" >
                    <option value="en" class="">English</option>
                    <option value="es" class="">Spanish</option>
{#                    <option value="ja" class="">Japanese</option>#}
{#                    <option value="zh-CN" class="">Chinese</option>#}
{#                    <option value="pt" class="">Portuguese</option>#}
{#                    <option value="ar" class="">Arabic</option>#}
{#                    <option value="nl" class="">Dutch</option>#}
{#                    <option value="de" class="">German</option>#}
{#                    <option value="fr" class="">French</option>#}
{#                    <option value="it" class="">Italian</option>#}
{#                    <option value="pl" class="">Polish</option>#}
{#                    <option value="ru" class="">Russian</option>#}
{#                    <option value="sw" class="">Swahili</option>#}
{#                    <option value="ur" class="">Urdu</option>#}
{#                    <option value="hi" class="">Hindi</option>#}
{#                    <option value="bn" class="">Bengali</option>#}
{#                    <option value="fa" class="">Persian</option>#}
{#                    <option value="ta" class="">Tamil</option>#}
{#                    <option value="ml" class="">Malayalam</option>#}
                </select>
            </li>

        </ul>
        <!--end::Menu-->
    </div>
    <!--end::Container-->
</div>

</div>

</div>

</div>
<div class="modal fade inputForm-modal" id="inputFormModal" tabindex="-1" role="dialog" aria-labelledby="inputFormModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header" id="inputFormModalLabel">
                <h5 class="modal-title">Invite <b>Clients</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <form class="mt-0" id="inviteForm">
                    <div class="form-group">
                        <div class="input-group mb-3">
                                                            <span class="input-group-text">
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                    <rect x="3" y="5" width="18" height="14" rx="2"></rect>
                                                                    <polyline points="3 7 12 13 21 7"></polyline>
                                                                </svg>
                                                            </span>
                            <input type="text" class="form-control" placeholder="Email" name="email" >
                            <input type="hidden" name="firm_id" value="{{ loginId }}" >
                            <input type="hidden" name="csrf" value="{{csrf}}">
                        </div>
                    </div>
                    <div class="d-none">
                        <div class="custom-control custom-radio custom-control-inline ml-4" style="padding-left: 40px;">
                            <input type="radio" id="client" value="client" checked name="invite" class="custom-control-input">
                            <label class="custom-control-label" for="client">Client Invite</label>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-light-danger mt-2 mb-2 btn-no-effect" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary mt-2 mb-2 btn-no-effect" data-bs-dismiss="modal" id="btn-profile" onclick="send_invite()">Send Invite</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade inputForm-modal" id="inputFormModalAssociates" tabindex="-1" role="dialog" aria-labelledby="inputFormModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header" id="inputFormModalLabel">
                <h5 class="modal-title">Invite <b>Members</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"> </button>
            </div>
            <div class="modal-body">
                <form class="mt-0" id="inviteAssociate">
                    <div class="form-group">
                        <div class="input-group mb-3">
                                                            <span class="input-group-text">
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                    <rect x="3" y="5" width="18" height="14" rx="2"></rect>
                                                                    <polyline points="3 7 12 13 21 7"></polyline>
                                                                </svg>
                                                            </span>
                            <input type="text" class="form-control" placeholder="Email" name="email" >
                            <input type="hidden" name="firm_id" value="{{ loginId }}" >
                            <input type="hidden" name="csrf" value="{{csrf}}">
                        </div>
                    </div>
                    <div class="d-none">
                        <div class="custom-control custom-radio custom-control-inline" style="padding-left: 10px;">
                            <input type="radio" id="member" value="member" name="invite" checked class="custom-control-input">
                            <label class="custom-control-label" for="member">Member Invite</label>
                        </div>

                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-light-danger mt-2 mb-2 btn-no-effect" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary mt-2 mb-2 btn-no-effect" data-bs-dismiss="modal" id="btn-profile" onclick="send_invite_associate()">Send Invite</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade inputForm-modal" id="addClientModal" tabindex="-1" aria-labelledby="addClientModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-700px">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h5 class="modal-title" id="addClientModalLabel">Add Client</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
            </div>
            <div class="modal-body scroll-y mx-5 mx-xl-5 my-7">
                <form  method="post" id="AddClientForm" enctype="multipart/form-data">
                    <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll"
                         data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                         data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header"
                         data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px"
                         style="max-height: 570px;">
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                            <label class="form-label">First name</label>
                            <input type="text" class="form-control form-control-solid" id="fname_client" name="fname" placeholder="First Name">
                            <input type="hidden" name="csrf" value="{{ csrf}}">
                            <input type="hidden" name="firm_id_client" id="firm_id_client" value="{{ loginId}}">
                        </div>
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                            <label class="form-label">Last name</label>
                            <input type="text" class="form-control form-control-solid" id="lname_client" name="lname" placeholder="Last Name">
                        </div>
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                            <label class="form-label">Email adress</label>
                            <input type="text" class="form-control form-control-solid" id="email_client" name="email" placeholder="Email" >
                        </div>
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                            <label class="form-label">Phone No</label>
                            <input type="tel" class="form-control form-control-solid" id="phone_client" name="phone" placeholder="Phone No">
                        </div>
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control form-control-solid" id="password_client" name="password" placeholder="Password">
                        </div>
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" class="form-control form-control-solid" id="cpassword_client" name="cpassword" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" name="add_new" id="btn" class="btn btn-primary" onclick="add_Client()">ADD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade inputForm-modal" id="addAssociatesModal" tabindex="-1" aria-labelledby="addAssociatesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-700px">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h5 class="modal-title" id="addAssociatesModalLabel">Add Associate</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
            </div>
            <div class="modal-body scroll-y mx-5 mx-xl-5 my-7">
                <form  method="post" id="addAssociateForm" enctype="multipart/form-data">
                    <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll"
                         data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                         data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header"
                         data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px"
                         style="max-height: 570px;">
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                            <label class="form-label">First name</label>
                            <input type="text" class="form-control form-control-solid" id="fname_associate" name="fname" placeholder="First Name">
                            <input type="hidden" name="csrf" value="{{ csrf}}">
                            <input type="hidden" name="firm_id_associate" id="firm_id_associate" value="{{ loginId}}">
                        </div>
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                            <label class="form-label">Last name</label>
                            <input type="text" class="form-control form-control-solid" id="lname_associate" name="lname" placeholder="Last Name">
                        </div>
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                            <label class="form-label">Email adress</label>
                            <input type="text" class="form-control form-control-solid" id="email_associate" name="email" placeholder="Email" >
                        </div>
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                            <label class="form-label">Phone No</label>
                            <input type="tel" class="form-control form-control-solid" id="phone_associate" name="phone" placeholder="Phone No">
                        </div>
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control form-control-solid" id="password_associate" name="password" placeholder="Password">
                        </div>
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" class="form-control form-control-solid" id="cpassword_associate" name="cpassword" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" name="add_new" id="btn" class="btn btn-primary" onclick="add_Associates()">ADD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
    <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
    <span class="svg-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
					<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
					<path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
				</svg>
			</span>
    <!--end::Svg Icon-->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{{ env.APP_URL }}assets/dash/assets/plugins/global/plugins.bundle.js"></script>
<script src="{{ env.APP_URL }}assets/dash/assets/js/scripts.bundle.js"></script>
<script src="{{ env.APP_URL }}assets/dash/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<script src="{{ env.APP_URL }}assets/dashboard/src/plugins/src/table/datatable/datatables.js"></script>
<script src="{{ env.APP_URL }}assets/dashboard/src/plugins/src/fullcalendar/fullcalendar.min.js"></script>
<script src="{{ env.APP_URL }}assets/dashboard/src/plugins/src/uuid/uuid4.min.js"></script>
<script src="{{ env.APP_URL }}assets/dashboard/src/plugins/src/fullcalendar/custom-fullcalendar.js"></script>
<script src="{{ env.APP_URL }}assets/dash/assets/js/custom/apps/user-management/users/list/table.js"></script>
{#<script src="{{ env.APP_URL }}assets/dash/assets/js/custom/apps/user-management/users/list/export-users.js"></script>#}
{#<script src="{{ env.APP_URL }}assets/dash/assets/js/custom/apps/user-management/users/list/add.js"></script>#}

{#<script src="{{ env.APP_URL }}assets/dash/assets/plugins/custom/datatables/datatables.bundle.js"></script>#}
<script src="{{ env.APP_URL }}assets/dash/assets/js/widgets.bundle.js"></script>
<script src="{{ env.APP_URL }}assets/dash/assets/js/custom/widgets.js"></script>
{#<script src="{{ env.APP_URL }}assets/dash/assets/js/custom/apps/chat/chat.js"></script>#}
<script src="{{ env.APP_URL }}assets/dash/assets/js/custom/utilities/modals/upgrade-plan.js"></script>
<script src="{{ env.APP_URL }}assets/dash/assets/js/custom/utilities/modals/create-app.js"></script>
<script src="{{ env.APP_URL }}assets/dash/assets/js/custom/utilities/modals/users-search.js"></script>

{#<script src="{{ env.APP_URL }}assets/dashboard/src/assets/js/users/account-settings.js"></script>#}

{% if route == '/user/invoice/add' or route == '/user/invoice/update/$id' %}
    <script src="{{ env.APP_URL }}assets/dashboard/src/assets/js/apps/invoice-edit.js"></script>
{% endif %}
{% if route == '/user/invoice/view/$invoice_id' or route == '/invoice/view/$invoice_id' %}
    <script src="{{ env.APP_URL }}assets/dashboard/src/assets/js/apps/invoice-preview.js"></script>
{% endif %}
{% if route == '/user/plans' %}
<script src="{{ env.APP_URL }}assets/dash/assets/js/custom/pages/pricing/general.js"></script>
{% endif %}
{#profile cdns#}
<script type="text/javascript">
    function googleTranslateElementInit() {
        document.documentElement.lang = 'en'; // Ensure the language is set before Google Translate initializes
        new google.translate.TranslateElement({
            pageLanguage: 'en',
            includedLanguages: 'en,es,fr,de,it,ar,ja,zh-CN,pt,nl,pl,ru,sw,ur,hi,bn,fa,ta,ml', // Include all the languages
            autoDisplay: false
        }, 'google_translate_element');
    }

    function triggerGoogleTranslate(languageCode) {
        var googleFrame = document.querySelector('.goog-te-combo');
        if (googleFrame) {
            googleFrame.value = languageCode;
            googleFrame.dispatchEvent(new Event('change'));
        }
    }

    document.getElementById('languageSelect').addEventListener('change', function () {
        var languageCode = this.value;
        console.log(languageCode);
        triggerGoogleTranslate(languageCode);
    });

</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script>
    $(document).ready(function() {
        // Load the spinner initially
        $('#spinner-outer').show();

        // Use setTimeout to delay the loading of the content
        setTimeout(function() {
            // Hide the spinner and show the content with an animation
            $('#spinner-outer').hide();
            $('#content-container').fadeIn(500); // or slideDown, etc.
        }, 2000); // adjust this value as needed

    });

</script>

<script>
    function send_invite_associate() {
        var form_Data = new FormData(document.getElementById("inviteAssociate"));
        document.getElementById('btn-profile').disabled = true;

        $.ajax({
            url: "/user/send_invite",
            type: "POST",
            data: form_Data,
            contentType: false,
            cache: false,
            processData: false,
            success: function (dataResult) {
                console.log(dataResult);
                if (dataResult == 1) {
                    $('#table').DataTable().ajax.reload(null, false);
                    document.getElementById('btn-profile').disabled = false;
                    $('#inputFormModalAssociates').modal('hide');
                    toastr.success('Invitation Sent.');
                    document.getElementById("inviteAssociate").reset();

                } else if (dataResult == 2) {
                    document.getElementById('btn-profile').disabled = false;
                    toastr.error("Required fields are empty!");
                }else if (dataResult == 3) {
                    document.getElementById('btn-profile').disabled = false;
                    document.getElementById("inviteAssociate").reset();
                    toastr.error("Email Already Exist");
                }else {
                    document.getElementById('btn-profile').disabled = false;
                    document.getElementById("inviteAssociate").reset();
                    toastr.error('Something Went Wrong.');
                }

            }
        });
    }
    function send_invite() {
        var form_Data = new FormData(document.getElementById("inviteForm"));
        document.getElementById('btn-profile').disabled = true;

        $.ajax({
            url: "/user/send_invite",
            type: "POST",
            data: form_Data,
            contentType: false,
            cache: false,
            processData: false,
            success: function (dataResult) {
                console.log(dataResult);
                if (dataResult == 1) {
                    $('#table').DataTable().ajax.reload(null, false);
                    document.getElementById('btn-profile').disabled = false;
                    $('#inputFormModal').modal('hide');
                    toastr.success('Invitation Sent.');
                    document.getElementById("inviteForm").reset();

                } else if (dataResult == 2) {
                    document.getElementById('btn-profile').disabled = false;
                    toastr.error("Required fields are empty!");
                } else if (dataResult == 3) {
                    document.getElementById('btn-profile').disabled = false;
                    toastr.error("Email Already Exist");
                }else {
                    document.getElementById('btn-profile').disabled = false;
                    toastr.error('Somthing Went Wrong.');
                }

            }
        });
    }
    function add_Client() {
        var fname = $("#fname_client").val();
        var lname = $("#lname_client").val();
        var phone = $("#phone_client").val();
        var email = $("#email_client").val();
        var firm_id = $("#firm_id_client").val();
        var password = $("#password_client").val();
        var cpassword = $("#cpassword_client").val();
        var csrf_token = $("input[name=csrf]").val();

        if (fname != "" && lname != "" && email != ""&& firm_id != "" && password != "" && cpassword != "") {
            if (password == cpassword) {
                document.getElementById("btn").innerHTML = "Loading";
                document.getElementById('btn').disabled = true;
                $.ajax({
                    type: 'post',
                    url: '/user/add_user',
                    data: {
                        add_Client: "add_Client",
                        fname: fname,
                        lname: lname,
                        phone: phone,
                        firm_id: firm_id,
                        email: email,
                        password: password,
                         type:"client",
                        csrf: csrf_token,
                    },
                    success: function (response_client) {
                        response_client = $.parseJSON(response_client);
                        console.log(response_client);
                        if (response_client == 1) {
                            $('#table').DataTable().ajax.reload(null, false);
                            document.getElementById('btn').disabled = false;
                            document.getElementById("btn").innerHTML = "ADD";
                            $('#addClientModal').modal('hide');
                            toastr.success('Client Added');
                            document.getElementById("AddClientForm").reset();

                        } else if (response_client == 2) {
                            document.getElementById('btn').disabled = false;
                            document.getElementById("btn").innerHTML = "ADD";
                            toastr.error("A minimum 8 characters password contains a combination of uppercase and lowercase letter and number.");
                        } else if (response_client == 3) {
                            document.getElementById('btn').disabled = false;
                            document.getElementById("btn").innerHTML = "ADD";
                            toastr.error("Missing Required Input");
                        } else if (response_client == 4) {
                            document.getElementById('btn').disabled = false;
                            document.getElementById("btn").innerHTML = "ADD";
                            toastr.error("Email Already Exist. Login to continue.");
                        } else {
                            document.getElementById('btn').disabled = false;
                            document.getElementById("btn").innerHTML = "ADD";
                            toastr.error('Somthing Went Wrong.');
                        }
                    }
                });
            }else {
                document.getElementById("btn").innerHTML = "ADD";
                 document.getElementById("btn").disabled = false;
                    toastr.error('Password Not Matched');
            }
        }else{
            document.getElementById("btn").innerHTML = "ADD";
             document.getElementById("btn").disabled = false;
                toastr.error('Missing Required Input');
        }
        return false;
    }
    function add_Associates() {
        var fname = $("#fname_associate").val();
        var lname = $("#lname_associate").val();
        var phone = $("#phone_associate").val();
        var email = $("#email_associate").val();
        var firm_id = $("#firm_id_associate").val();
        var password = $("#password_associate").val();
        var cpassword = $("#cpassword_associate").val();
        var csrf_token = $("input[name=csrf]").val();

        if (fname != "" && lname != "" && email != "" && firm_id != "" && password != "" && cpassword != "") {
            if (password == cpassword) {
                document.getElementById("btn").innerHTML = "Loading";
                document.getElementById('btn').disabled = true;
                $.ajax
                ({
                    type: 'post',
                    url: '/user/add_user',
                    data: {
                        add_Associates: "add_Associates",
                        fname: fname,
                        lname: lname,
                        phone: phone,
                        firm_id: firm_id,
                        email: email,
                        password: password,
                        type:"member",
                        csrf: csrf_token,
                    },
                    success: function (response_associate) {
                        response_associate = $.parseJSON(response_associate);
                        console.log(response_associate);
                        if (response_associate == 1) {
                            $('#table').DataTable().ajax.reload(null, false);
                            document.getElementById('btn').disabled = false;
                            document.getElementById("btn").innerHTML = "ADD";
                            $('#addAssociatesModal').modal('hide');
                            toastr.success('Associate Added');
                            document.getElementById("addAssociateForm").reset();

                        } else if (response_associate == 2) {
                            document.getElementById('btn').disabled = false;
                            document.getElementById("btn").innerHTML = "ADD";
                            toastr.error("A minimum 8 characters password contains a combination of uppercase and lowercase letter and number.");
                        } else if (response_associate == 3) {
                            document.getElementById('btn').disabled = false;
                            document.getElementById("btn").innerHTML = "ADD";
                            toastr.error("Missing Required Input");
                        } else if (response_associate == 4) {
                            document.getElementById('btn').disabled = false;
                            document.getElementById("btn").innerHTML = "ADD";
                            toastr.error("Email Already Exist. Login to continue.");
                        } else {
                            document.getElementById('btn').disabled = false;
                            document.getElementById("btn").innerHTML = "ADD";
                            toastr.error('Somthing Went Wrong.');
                        }
                    }
                    });
            }else {
                    document.getElementById("btn").innerHTML = "ADD";
                    document.getElementById("btn").disabled = false;
                    toastr.error('Password Not Matched');
                }
            }else{
                document.getElementById("btn").innerHTML = "ADD";
                document.getElementById("btn").disabled = false;
                toastr.error('Missing Required Input');
            }
            return false;
    }
    $(document).ready(function() {
        var loginId = '{{ loginId }}'; // Replace with your actual loginId
        var ringtone = document.getElementById('ringtone');
        var notificationSent = false; // To track if the notification has been sent

        // Function to request user interaction for audio playback
        function enableAudio() {
            // Add a global click event listener to enable audio
            $(document).one('click', function() {
                ringtone.play().catch(function(error) {
                    console.error('Playback failed:', error);
                });
            });
        }

 

        let NotificationSent = false;
        let CallAlertShown = false; // Track if the call alert has been shown

// Function to check for incoming calls
        function checkForCall() {
            $.ajax({
                url: '/call/check',
                type: 'POST',
                data: { loginId: loginId },
                dataType: 'json',
                success: function(response) {
                    if (response.status === 'ringing') {
                        var callerName = response.caller_name;
                        const channel_id = response.channel_id;
                        const callLink = response.call_link;

                        // Show the call alert if not already shown
                        if (!CallAlertShown) {
                            $('#call-ringing').html(`

                             <!--begin::Toolbar-->
                            <div class="toolbar bg-dark" id="kt_toolbar">
                                <!--begin::Container-->
                                <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                                    <!--begin::Page title-->
                                    <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                                        <!--begin::Title-->
                                         <div class="avatar avatar-sm avatar-indicators avatar-online">
                                                <img width="50%" alt="avatar" src="https://techneketax.local/assets/dashboard/src/assets/img/profile-30.png" class="rounded-circle">
                                            </div>
                                        <h1 class="d-flex text-light fw-bolder fs-3 align-items-center my-1">Call from ${callerName}</h1>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Page title-->
                                    <!--begin::Actions-->
                                    <div class="d-flex align-items-center gap-2 gap-lg-3">
                                        <button onclick="hangUpCall('${channel_id}')" type="button" class="btn btn-sm btn-danger">
                                            <img width="24px" src="{{ env.APP_URL }}assets/img/phone-hangup.png" alt="">
                                        </button>
                                        <a href="${callLink}" type="button" class="btn btn-sm btn-success">
                                            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                                                <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
                                            </svg>
                                        </a>

                                    </div>
                                    <!--end::Actions-->
                                </div>
                                <!--end::Container-->
                            </div>
                            <!--end::Toolbar-->
                    `);
                            CallAlertShown = true; // Mark that the alert has been shown

                            window.scrollTo(0, 0);

                            if (!NotificationSent) {
                                showNotification(callerName, callLink);
                                NotificationSent = true; // Mark that the notification has been sent
                            }

                            // Play the ringtone
                            // ringtone.play().catch(function(error) {
                            //     console.error('Playback failed:', error);
                            // });
                        }
                    } else if (response.status === 'hangup' && CallAlertShown) {
                        // Remove the call alert if the call has been hung up
                        $('#call-alert').remove();
                        CallAlertShown = false; // Reset alert shown status
                        otificationSent = false; // Reset notification sent status
                    }
                },
                error: function(xhr, status, error) {
                    console.error('AJAX Error: ' + status + error);
                }
            });
        }



        // Request notification permission
        requestNotificationPermission();

        // Call enableAudio to ensure audio can be played
       // enableAudio();

        // Check for calls every 2 seconds
        setInterval(checkForCall, 2000);
    });

    function requestNotificationPermission() {
        if (Notification.permission === 'default') {
            Notification.requestPermission().then(function(permission) {
                if (permission === 'granted') {
                    console.log('Notification permission granted.');
                } else {
                    console.log('Notification permission denied.');
                }
            });
        }
    }

    function showNotification(callerName, callLink) {
        if (Notification.permission === 'granted') {
            var options = {
                body: `Video call from ${callerName}`,
                icon: 'https://techneketax.local/assets/dashboard/src/assets/img/profile-30.png'
            };

            var notification = new Notification('Incoming Call', options);

            notification.onclick = function(event) {
                event.preventDefault(); // Prevent the default action (e.g., focus the tab)
                window.open(callLink, '_blank'); // Open the call link
            };

            notification.onclose = function() {
                console.log('Notification closed.');
            };
        }
    }
    function hangUpCall(channelId, user_id= null) {
        $.ajax({
            url: '/call/hangup/' + encodeURIComponent(channelId),
            type: 'POST',
            dataType: 'json',
            success: function(response) {
                if (response.status === true) {
                    // Redirect to /user/chat if status is true
                    window.location.href = '/user/chat/'+user_id;
                } else {
                    console.error('Hangup failed: ', response.message || 'Unknown error');
                }
            },
            error: function(xhr, status, error) {
                console.error('AJAX Error: ' + status + ' - ' + error);
            }
        });
    }
    document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function() {
            // Hide the skeleton loader
            var loader = document.getElementById("sidebar-loader");
            if (loader) {
                loader.style.display = "none";
            }

            // Show the actual sidebar content
            var sidebar = document.getElementById("actual-sidebar");
            if (sidebar) {
                sidebar.style.display = "block";
            }
        }, 1000); // 2000ms = 2 seconds
    });



    {#                $('#call-ringing').html(`#}
    {#                        <div class="alert custom-alert-1 rounded-3 fade show mb-4" role="alert" style="position: fixed; z-index: 999; margin-top:-20px;">#}
    {#                            <div class="media">#}

    {#                                <div class="media-body">#}
    {#                                    <div class="alert-text pt-0">#}
    {#                                        <h5 class="text-light">#}
    {#                                            <div class="avatar avatar-sm avatar-indicators avatar-online">#}
    {#                                                <img alt="avatar" src="https://techneketax.local/assets/dashboard/src/assets/img/profile-30.png" class="rounded-circle">#}
    {#                                            </div>#}
    {#                                            <span class="pt-3">Video call from ${callerName}</span>#}
    {#                                        </h5>#}
    {#                                    </div>#}
    {#                                    <div class="alert-btn p-2 text-center">#}
    {#                                        <button type="button" class="btn btn-danger rounded-5">#}
    {#                                            <img width="24px" src="{{ env.APP_URL }}assets/img/phone-hangup.png" alt="">#}
    {#                                        </button>#}
    {#                                        <a href="${callLink}" type="button" class="btn btn-success rounded-5">#}
    {#                                            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">#}
    {#                                                <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>#}
    {#                                            </svg>#}
    {#                                        </a>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    `);#}
    {#            }#}
    {#        },#}
    {#        error: function(xhr, status, error) {#}
    {#            console.error('AJAX Error: ' + status + error);#}
    {#        }#}
    {#    });#}
    {#});#}

</script>


</body>
</html>