
    <!-- Start Footer -->
    <footer class="main-footer footer-dark background-image" >
        <div class="container pt-4">
            <!-- Start Card Contact -->
            <div class="card-contact bg-primary mb-4 mt-5 py-5 px-4 px-md-5 position-relative overflow-hidden rounded-3 shadow-lg" data-aos="fade-down">
                <div class="row align-items-center position-relative z-1">
                    <div class="col-md-10 col-lg-8 col-xl-6">
                        <h2 class="display-6 fw-bold mb-0 mb-4 text-capitalize text-white">Are you looking to buy or sell a property? Get in touch today</h2>
                        <div class="row g-4 align-items-center">
                            <div class="col-auto">
                                <a href="tel:+1 647-794-4442"  class="btn btn-outline-default border-0">
                                    <i class="fas fa-mobile"></i>
                                    <span>+1 647-794-4442</span>
                                </a>
                            </div>
                            <div class="col-auto">
                                <a href="mailto:info@chaisbek.com" class="border-bottom fs-17 l-spacing-1 text-white">
                                    <i class="fas fa-envelope fs-15"></i>
                                    <span><span class="__cf_email__" >info@chaisbek.com</span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Card Background Image -->
                <div class="card-sketch">
                    <img src="{{ env.APP_URL }}assets/public/img/png-img/house-sketch.png" alt="" class="card-sketch-image">
                </div>
                <!-- /.End Card Background Image -->
            </div>
            <!-- /.End Card Contact -->
            <div class="row">

                <div class="col-6 col-sm-6 col-md-6 col-lg-auto col-xl-4 py-3 py-md-5">
                    <h3 class="fs-20 fw-semibold link-title mb-3 position-relative">Properties</h3>
                    <!-- Start Footer Link -->
                    <ul class="footer-link list-unstyled menu mb-0">
                        <li class="mb-2"><a href="/real-estate" class="link d-block">Buy</a></li>
                        <li class="mb-2"><a href="/agents" class="link d-block">Agents</a></li>
                    </ul>
                    <!-- /.End Footer Link -->
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-4 py-3 py-md-5 d-lg-none d-xl-block">
                    <h3 class="fs-20 fw-semibold link-title mb-3 position-relative">Legal</h3>
                    <!-- Start Footer Link -->
                    <ul class="footer-link list-unstyled menu mb-0">
                        <li class="mb-2"><a href="/terms" class="link d-block">Terms</a></li>
                        <li class="mb-2"><a href="/privacy-policy" class="link d-block">Privacy Policy</a></li>
                        <li class="mb-2"><a href="/cookies-policy" class="link d-block">Cookies Policy</a></li>
                    </ul>
                    <!-- /.End Footer Link -->
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg col-xl-4 py-3 py-md-5">
                    <h3 class="fs-20 fw-semibold link-title mb-3 position-relative">Connect with us</h3>
                    <!-- Start Social Icon -->
                    <ul class="list-unstyled social-icon">
                        <li>
                            <a href="https://www.instagram.com/chaisbekrealtyinc/" class="align-items-center d-flex">
                                <div class="align-items-center bg-primary d-flex d-inline-block fs-19 icon-wrap justify-content-center me-3 rounded-2 text-center text-white twi"><i class="fab fa-instagram"></i></div>Instagram
                            </a>
                        </li>
                        <li>
                            <a href="https://www.x.com/chaisbekrealty" class="align-items-center d-flex">
                                <div class="align-items-center bg-dark d-flex d-inline-block fs-19 icon-wrap justify-content-center me-3 rounded-2 text-center text-white twi"><i class="fab fa-x"></i></div>X
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/Chaisbekrealtyinc/" class="align-items-center d-flex">
                                <div class="align-items-center bg-primary d-flex d-inline-block fs-19 icon-wrap justify-content-center me-3 rounded-2 text-center text-white twi"><i class="fab fa-facebook"></i></div>Facebook
                            </a>
                        </li>
                        <li>
                            <a href="https://ca.linkedin.com/in/chaisbekrealty" class="align-items-center d-flex">
                                <div class="align-items-center bg-primary d-flex d-inline-block fs-19 icon-wrap justify-content-center me-3 rounded-2 text-center text-white twi"><i class="fab fa-linkedin"></i></div>Linkedin
                            </a>
                        </li>

                    </ul>
                    <!-- /.End Social Icon -->
                </div>
            </div>
            <hr class="mb-0 mt-4">
            <div class="py-4">

                <div class="align-items-center row mb-2 justify-content-center">
                    <!-- Start Footer Logo -->
                    <div class="col-sm-12 footer-logo mb-3 mb-sm-0   text-center">
                        <img class="footer-logo__dark" src="{{ env.APP_URL }}assets/public/img/realtor-white.png" alt="Chaisbek">
                    </div>
                    <!-- /.End Footer Logo -->
                    <!-- Start Copy Rights Text -->
                    <div class="col-sm-auto copy text-center"><small>The trademarks REALTOR®, REALTORS®, and the REALTOR® logo are controlled by The Canadian Real Estate Association (CREA) and identify real estate professionals who are members of CREA.</small></div>
                    <!-- /.End Copy Rights Text -->
                </div>
                <div class="align-items-center row mb-2 justify-content-center">
                    <!-- Start Footer Logo -->
                    <div class="col-sm-12 footer-logo mb-3 mb-sm-0  text-center" >
                        <img class="footer-logo__dark" src="{{ env.APP_URL }}assets/public/img/mls-logo-white.png" alt="Chaisbek">
                    </div>
                    <!-- /.End Footer Logo -->
                    <!-- Start Copy Rights Text -->
                    <div class=" col-sm-auto copy text-center"><small>The trademarks MLS®, Multiple Listing Service® and the associated logos are owned by The Canadian Real Estate Association (CREA) and identify the quality of services provided by real estate professionals who are members of CREA.</small></div>
                    <!-- /.End Copy Rights Text -->
                </div>



                <!-- /. End Sub Footer Nav -->
                <div class="align-items-center row mb-2 justify-content-center">
                    <!-- Start Footer Logo -->
                    <div class="col-sm-auto footer-logo mb-3 mb-sm-0 ">
                        <img class="footer-logo__dark" src="{{ env.APP_URL }}assets/public/img/logo.webp" alt="Chaisbek">
                    </div>
                    <!-- /.End Footer Logo -->
                    <!-- Start Copy Rights Text -->
                    <div class="col-sm-auto copy text-center">© {{ currentYear }} Chaisbek - Developed by <a class="text-primary" href="https://www.cosgn.com">COSGN</a></div>
                    <!-- /.End Copy Rights Text -->
                </div>
            </div>
        </div>
    </footer>
    <!-- /.End Footer -->
    <!-- Optional JavaScript -->
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha512-VK2zcvntEufaimc+efOYi622VN5ZacdnufnmX7zIhCPmjhKnOi9ZDMtg1/ug5l183f19gG1/cBstPO4D8N/Img==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}
    <script src="{{ env.APP_URL }}assets/public/plugins/smartmenus/jquery.smartmenus.min.js"></script>
    <script src="{{ env.APP_URL }}assets/public/plugins/smartmenus/jquery.smartmenus.bootstrap-4.min.js"></script>
    <script src="{{ env.APP_URL }}assets/public/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="{{ env.APP_URL }}assets/public/plugins/select2/select2.min.js"></script>
    <script src="{{ env.APP_URL }}assets/public/plugins/theia-sticky-sidebar/ResizeSensor.min.js"></script>
    <script src="{{ env.APP_URL }}assets/public/plugins/theia-sticky-sidebar/theia-sticky-sidebar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"></script>
    <script src="{{ env.APP_URL }}assets/public/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="{{ env.APP_URL }}assets/public/plugins/waypoints/jquery.waypoints.min.js"></script>
    <script src="{{ env.APP_URL }}assets/public/plugins/simple-parallax/simpleParallax.min.js"></script>
    <script src="{{ env.APP_URL }}assets/public/plugins/aos/aos.min.js"></script>
    <!-- Custom Script For This Template -->
    <script src="{{ env.APP_URL }}assets/public/js/script.js"></script>
    </body>

    </html>
