
    <!-- Start Topbar -->
    <div class="topbar d-none d-lg-block topbar-bg bg-dark text-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 col-lg-3 col-xl-4">
                    <a aria-label="Home" href="/" class="headerLogo"><img src="{{ env.APP_URL }}assets/public/img/logo.webp" alt="Chaisbek" height="40"></a>
                </div>
                <div class="col-md-8 col-lg-9 col-xl-8 d-none d-md-block">
                    <div class="d-flex justify-content-end">
                        <div class="d-flex align-items-center help-info">
                            <div class="flex-shrink-0 icon">
                                <i class="fa-clock fa-solid fs-30 text-white opacity-75"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="fs-15 fw-semibold help-info__title mb-0 text-white">MON - FRI: 08:00AM - 20:00PM</h6>
                                <p class="sub-text mb-0 fs-14">Weekend: 09:00AM - 17:00PM</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center help-info ms-4">
                            <div class="flex-shrink-0 icon">
                                <i class="fa-solid fa-mobile-button fs-30 text-white opacity-75"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="fs-15 fw-semibold help-info__title mb-0 text-white"><a class="text-light" href="tel:+1 647-794-4442">+1 647-794-4442</a> </h6>
                                <p class="sub-text mb-0 fs-14">Contact Us For Help</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center help-info ms-4">
                            <div class="flex-shrink-0 icon">
                                <i class="fa-solid fa-street-view fs-30 text-white opacit-75"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="fs-15 fw-semibold help-info__title mb-0 text-white">1 King St W, Toronto</h6>
                                <p class="sub-text mb-0 fs-14">ON M5H 1A1, Canada</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.End Topbar -->
    <!-- Start Navbar -->
    <div class="navbar-wrap sticky-top no-logo ">
        <div class="container-lg nav-container position-relative">
            <nav class="custom-navbar navbar navbar-expand-lg ">
                <!-- Start Navbar Brand-->
                <a class="border-end navbar-brand pe-3 pe-sm-4 py-0" href="/">
                    <img class="logo-dark" src="{{ env.APP_URL }}assets/public/img/logo-black.webp" alt="Chaisbek">
                    <img class="logo-white" src="{{ env.APP_URL }}assets/public/img/logo.webp" alt="Chaisbek">
                </a>
                <!-- End Navbar Brand-->
                <!-- Start Navbar Collapse -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Start Navbar Collapse Header -->
                    <div class="align-items-center border-bottom d-flex d-lg-none  justify-content-between mb-3 navbar-collapse__header pb-3">
                        <!-- Start Brand Logo For Mobile -->
                        <div class="collapse-brand flex-shrink-0">
                            <a aria-label="Home" href="/"><img src="{{ env.APP_URL }}assets/public/img/logo.webp" alt="Chaisbek"></a>
                        </div>
                        <!-- End Brand Logo For Mobile -->
                        <!-- Start Collapse Close Button -->
                        <div class="flex-grow-1 ms-3 text-end">
                            <button type="button" class="bg-transparent border-0 collapse-close p-0 position-relative"><span></span> <span></span></button>
                        </div>
                        <!-- End Collapse Close Button -->
                    </div>
                    <!-- End Navbar Collapse Header -->
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a aria-label="Home" class="nav-link {% if route == '/' %} active{% endif %}" href="/">
                                Home
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a aria-label="For Sale" class="nav-link dropdown-toggle {{ route }}  {% if route == '/real-estate' %} active{% endif %}" href="/real-estate">
                               For Sale
                            </a>
                            <ul class="dropdown-menu mega-menu">
                                <li>
                                    <div class="row" id="for_sale_cities">
                                        <span class="data-loader mr-3"></span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link {{ route }}  {% if route == '/agents' %} active{% endif %}" href="/agents">Agents</a></li>
                        <li class="nav-item"><a class="nav-link {{ route }}  {% if route == '/about-us' %} active{% endif %}" href="/about-us">About Us</a></li>
{#                        <li class="nav-item"><a class="nav-link {{ route }}  {% if route == '/contact-us' %} active{% endif %}" href="/contact-us">Contact Us</a></li>#}
                    </ul>
                </div>
                <!-- /. End Navbar Collapse -->
                <div class="d-flex gap-1 ms-lg-5">

                    <a href="/contact-us" class="btn btn-primary btn-login hstack gap-2">
                        <i class="fa-solid fa-envelope-open"></i>
                        <div class="vr d-none d-sm-inline-block"></div>
                        <span class="d-none d-sm-inline-block">Contact Us</span>
                    </a>

                    <!-- Start Navbar Toggler Buton -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- /. End Navbar Toggler Buton -->
                </div>
            </nav>
        </div>
    </div>
    <!-- /.End of navbar -->
