{% extends 'user/master.twig' %}
{% block content %}
<style>
    .select2-container{
        width: 100% !important;

    }
    .select2-container--default .select2-selection--multiple{
        padding: 0.75rem 1.25rem;
    }
    .fc-addEventButton-button{
        background-color: #ED141F !important;
        color: white !important;
    }
    .select2-selection{
        color: #5e6278;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e4e6ef;
        appearance: none;
        border-radius: .475rem;
        padding: .75rem 1rem;
    }
    .form-check.form-check-success .form-check-input:checked {
        background-color: #50cd89 !important;
        border-color: #50cd89 !important;
    }
</style>
    {% if loginType != "firm" and loginType != "member" %}
    <style>
        .fc-addEventButton-button{
            display: none !important;
        }
        .edit_appointment{
            display: none !important;
        }
        .delete_appointment{
            display: none !important;
        }
    </style>
    {% endif %}
    <!--  BEGIN CONTENT AREA  -->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Toolbar-->
    <div class="toolbar" id="kt_toolbar">
        <!--begin::Container-->
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                <!--begin::Title-->
                <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Appointments</h1>

            </div>

        </div>
        <!--end::Container-->
    </div>
    <div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-fluid">
    <div id="content"  class="main-content">
        <div class="layout-px-spacing">
                <div id="call-ringing"></div>
                <div class="row layout-top-spacing layout-spacing" id="cancel-row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <!--begin::Card-->
                        <div class="card">
                            <!--begin::Card header-->
                            <div class="card-header">
                                <h2 class="card-title fw-bolder">Appointments</h2>
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body">
                                <!--begin::Calendar-->
                                <div id="kt_calendar_app" class="calendar"></div>
                                <!--end::Calendar-->
                            </div>
                            <!--end::Card body-->
                        </div>

                    </div>
                </div>
            {% if loginType != "client" %}
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Appointment</h5>
                            <a role="button" class=" text-dark" data-bs-dismiss="modal" aria-label="Close">
                                <div class="btn btn-icon btn-sm btn-color-gray-500 btn-active-icon-primary" data-bs-toggle="tooltip" title="Hide Event" data-bs-dismiss="modal">
                                            <span class="svg-icon svg-icon-1">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
															<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
														</svg>
													</span>
                                </div></a>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="addEventForm" enctype="multipart/form-data">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="">
                                            <label class="form-label">Enter Title</label>
                                            <input type="text" class="form-control form-control-solid" id="event-title" name="title" placeholder="Enter Title">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="">
                                            <label class="form-label">Date</label>
                                            <input type="datetime-local" class="form-control form-control-solid" id="event-start-date" name="dateTime">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="">
                                            <label class="form-label">Clients</label>
                                            <select class="js-example-basic-multiple form-control form-control-solid" aria-label="Clients" id="event-client-id" name="client_id[]" multiple>
                                                {% for client in clients %}
                                                    <option value="{{ client.id }}">{{ client.fname }} {{ client.lname }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="d-flex mt-4">
                                            <div class="n-chk">
                                                <div class="form-check form-check-primary form-check-inline">
                                                    <input class="form-check-input" type="radio" name="purpose" value="Work" id="rwork">
                                                    <label class="form-check-label" for="rwork">Work</label>
                                                </div>
                                            </div>
                                            <div class="n-chk">
                                                <div class="form-check form-check-success form-check-inline">
                                                    <input class="form-check-input" type="radio" name="purpose" value="Personal" id="rPersonal">
                                                    <label class="form-check-label" for="rPersonal">Personal</label>
                                                </div>
                                            </div>
                                            <div class="n-chk">
                                                <div class="form-check form-check-danger form-check-inline">
                                                    <input class="form-check-input" type="radio" name="purpose" value="Important" id="rImportant">
                                                    <label class="form-check-label" for="rImportant">Important</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btn-profile" onclick="add_event()" class="btn btn-primary btn-add-event ">Add Appointment</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="modal fade" id="kt_modal_view_event" tabindex="-1" aria-hidden="true">
                <!--begin::Modal dialog-->
                <div class="modal-dialog mw-650px">
                    <!--begin::Modal content-->
                    <div class="modal-content">
                        <!--begin::Modal header-->
                        <div class="modal-header pb-5 border-0 d-block">
                            <div class="row">
                                <div class="col-md-6 text-start">
                                    <div class="btn btn-icon btn-sm btn-color-gray-500 btn-active-icon-primary" data-bs-toggle="tooltip" title="Close" data-bs-dismiss="modal">
                                            <span class="svg-icon svg-icon-1" style="color: #ed141f">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
															<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
														</svg>
													</span>
                                    </div>
                                </div>
                                <div class="col-md-6 text-end">
                                    <button class="btn btn-icon btn-sm btn-color-gray-400 btn-active-icon-primary me-2 edit_appointment" title="Edit Appointment" id="editEventBtn">
    <span class="svg-icon svg-icon-2" style="color: blue">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path opacity="0.3" d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z" fill="currentColor" />
            <path d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z" fill="currentColor" />
        </svg>
    </span>
                                    </button>
                                    <button type="button" id="delete" class="btn btn-icon btn-sm btn-color-gray-400 btn-active-icon-danger me-2 delete_appointment"  title="Delete Appointment" onclick="deleteAppointment()" >
                                            <span class="svg-icon svg-icon-2" style="color: #ed141f">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="currentColor" />
															<path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="currentColor" />
															<path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="currentColor" />
														</svg>
													</span>
                                    </button>
                                    <a id="start-meeting" type="button" class="btn btn-icon btn-sm btn-color-gray-400 btn-active-icon-danger me-2"  title="Meeting"  style="display: none !important;">
                                            <span class="svg-icon svg-icon-2">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg>
													</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--begin::Modal header-->
                        <!--begin::Modal body-->
                        <div class="modal-body scroll-y mx-5 mx-xl-18 pt-0 pb-15"  id="clientListViewBadges">

                        </div>
                        <!--end::Modal body-->
                    </div>
                    <!--end::Modal content-->
                </div>
                <!--end::Modal dialog-->
            </div>
            <div class="modal fade" id="kt_modal_edit_event" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Appointment</h5>
                            <a role="button" class=" text-dark" data-bs-dismiss="modal" aria-label="Close">
                                <div class="btn btn-icon btn-sm btn-color-gray-500 btn-active-icon-primary" data-bs-toggle="tooltip" title="Hide Event" data-bs-dismiss="modal">
                                            <span class="svg-icon svg-icon-1" onclick="closeModal()">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
															<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
														</svg>
													</span>
                                </div></a>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="addEventForm" enctype="multipart/form-data">
                                <input type="hidden" id="event-id" name="event_id">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="">
                                            <label class="form-label">Enter Title</label>
                                            <input type="text" class="form-control form-control-solid" id="edit_title_edit" name="title" placeholder="Enter Title">
                                            <input type="hidden" class="form-control form-control-solid" id="edit_id_edit" name="edit_id">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="">
                                            <label class="form-label">Date</label>
                                            <input type="datetime-local" class="form-control form-control-solid" id="edit_date" name="dateTime">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="">
                                            <label class="form-label">Clients</label>
                                            <select class="js-example-basic-multiple2 form-control form-control-solid" aria-label="Clients" id="event-client-id_edit" name="client_ids[]" multiple>
                                                {% for client in clients %}
                                                    <option value="{{ client.id }}">{{ client.fname }} {{ client.lname }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="d-flex mt-4">
                                            <div class="n-chk">
                                                <div class="form-check form-check-primary form-check-inline">
                                                    <input class="form-check-input" type="radio" name="edit_purpose" value="Work" id="Work">
                                                    <label class="form-check-label" for="rwork">Work</label>
                                                </div>
                                            </div>
                                            <div class="n-chk">
                                                <div class="form-check form-check-success form-check-inline">
                                                    <input class="form-check-input" type="radio" name="edit_purpose" value="Personal" id="Personal">
                                                    <label class="form-check-label" for="rPersonal">Personal</label>
                                                </div>
                                            </div>
                                            <div class="n-chk">
                                                <div class="form-check form-check-danger form-check-inline">
                                                    <input class="form-check-input" type="radio" name="edit_purpose" value="Important" id="Important">
                                                    <label class="form-check-label" for="rImportant">Important</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer flex-center">
                            <!--begin::Button-->
                            <button type="reset" data-bs-dismiss="modal" class="btn btn-light me-3">Cancel</button>
                            <!--end::Button-->
                            <!--begin::Button-->
                            <button type="button" id="btn" onclick="update_event()" class="btn btn-primary">
                                <span class="indicator-label">Update</span>
                            </button>
                            <!--end::Button-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
        <!--end::Container-->
    </div>
        <!--end::Post-->
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2({
                dropdownParent: $('#exampleModal')
            });
            $('.js-example-basic-multiple2').select2({
                dropdownParent: $('#kt_modal_edit_event')
            });
        });
        function loadData() {
            $.ajax({
                url: '/user/get_appointment',
                type: 'GET',
                success: function (data) {
                    var data = JSON.parse(data);
                    var newDate = new Date();
                    /**
                     *
                     * @getDynamicMonth() fn. is used to validate 2 digit number and act accordingly
                     *
                     */
                    function getDynamicMonth() {
                        getMonthValue = newDate.getMonth();
                        _getUpdatedMonthValue = getMonthValue + 1;
                        if (_getUpdatedMonthValue < 10) {
                            return `0${_getUpdatedMonthValue}`;
                        } else {
                            return `${_getUpdatedMonthValue}`;
                        }
                    }
                    // Modal Elements
                    var getModalTitleEl = document.querySelector('#event-title');
                    var getModalStartDateEl = document.querySelector('#event-start-date');
                    var getModalAddBtnEl = document.querySelector('.btn-add-event');
                    var getDeleteBtnEl = document.querySelector('#delete');
                    var getStartMeetingLinkEl = document.querySelector('#start-meeting');
                    var getStartMeetingLinkEl2 = document.querySelector('#start-meeting2');
                    var calendarsEvents = {
                        Work: 'primary',
                        Personal: 'success',
                        Important: 'danger',
                        Travel: 'warning',
                    }
                    // Calendar Elements and options
                    var calendarEl = document.querySelector('.calendar');
                    var checkWidowWidth = function () {
                        if (window.innerWidth <= 1199) {
                            return true;
                        } else {
                            return false;
                        }
                    }
                    var calendarHeaderToolbar = {
                        left: 'prev next addEventButton',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                    }
                    if (data != '' || data != undefined){
                        var calendarEventsList = data.map(function (appointment) {
                            return {
                                id: appointment.id,
                                title: appointment.title,
                                start: appointment.date,
                                extendedProps: {
                                    calendar: appointment.purpose,
                                    client_id: appointment.client_id,
                                    jitsi_link: appointment.jitsi_link,
                                    appointment_id: appointment.id,
                                    appointment_purpose: appointment.purpose,
                                    appointment_date: appointment.date
                                }
                            };
                        });
                    }else{
                        var calendarEventsList = [

                        ]
                    }
                    // Calendar Select fn.
                    var calendarSelect = function (info) {
                        getModalAddBtnEl.style.display = 'block';
                        myModal.show()
                        getModalStartDateEl.value = info.startStr;
                    }

                    // Calendar AddEvent fn.
                    var calendarAddEvent = function () {
                        var currentDate = new Date();
                        var dd = String(currentDate.getDate()).padStart(2, '0');
                        var mm = String(currentDate.getMonth() + 1).padStart(2, '0'); //January is 0!
                        var yyyy = currentDate.getFullYear();
                        var combineDate = `${yyyy}-${mm}-${dd}T00:00:00`;
                        getModalAddBtnEl.style.display = 'block';
                        myModal.show();
                        getModalStartDateEl.value = combineDate;
                    }

                    var calendarEventClick = function (info) {
                        // Extract event object from the clicked event
                        var eventObj = info.event;

                        // Get the event ID
                        var getModalEventId = eventObj.extendedProps.appointment_id;

                        var getModalEventLevel = eventObj._def.extendedProps['calendar'];

                        var getModalCheckedRadioBtnEl = document.querySelector(`input[value="${getModalEventLevel}"]`);
                        if (getModalCheckedRadioBtnEl) {
                            getModalCheckedRadioBtnEl.checked = true;
                        }
                        getDeleteBtnEl.setAttribute('onclick', `deleteAppointment(${getModalEventId})`);

                        var jitsiLink = eventObj.extendedProps.jitsi_link;
                        if (jitsiLink) {
                            getStartMeetingLinkEl.setAttribute('href', '/meet/' + jitsiLink);
                        }
                            $.ajax({
                                url: '/user/get_users',
                                type: 'GET',
                                data: {
                                    client_id: eventObj.extendedProps.client_id,
                                    appointment_id: getModalEventId,
                                },
                                success: function (dataResult) {
                                    // var dataResult = JSON.parse(dataResult);
                                    console.log(dataResult);
                                    $('#clientListViewBadges').html(dataResult);

                                },
                                error: function (xhr, status, error) {
                                    console.error('Error fetching appointments:', error);
                                }
                            });
                        // Show the view modal
                        var myNewModal = new bootstrap.Modal(document.getElementById('kt_modal_view_event'));
                        myNewModal.show();

                        // Add event listener to the "Edit Event" button to open the edit modal
                        var editEventBtn = document.getElementById('editEventBtn');
                        editEventBtn.addEventListener('click', function () {
                            // Hide the view modal
                            // myNewModal.hide();
                            $("#kt_modal_view_event").modal('hide');
                            // Show the edit modal
                            var editModal = new bootstrap.Modal(document.getElementById('kt_modal_edit_event'));
                            document.querySelectorAll('.modal-backdrop.fade.show').forEach(element => element.remove());

                            editModal.show();

                            // Populate the edit modal with event data

                            document.getElementById('edit_id_edit').value = eventObj.extendedProps.appointment_id;

                            document.getElementById('edit_title_edit').value = eventObj.title;
                            // document.getElementById('edit_purpose').value = eventObj.extendedProps.appointment_purpose;

                            document.getElementById('edit_date').value = moment(eventObj.extendedProps.appointment_date).format("YYYY-MM-DDTHH:mm");
                            var getModalEventLevel = eventObj.extendedProps.calendar;
                            console.log(getModalEventLevel);
                            var getModalCheckedRadioBtnEl = document.querySelector(`#${getModalEventLevel}`);

                            if (getModalCheckedRadioBtnEl) {
                                getModalCheckedRadioBtnEl.checked = true;
                            }
                            var formIdArray = eventObj.extendedProps.client_id.split(',');
                            var selectElement = document.getElementById('event-client-id_edit');
                            for (var i = 0; i < selectElement.options.length; i++) {
                                selectElement.options[i].selected = false;
                            }
                            formIdArray.forEach(function (id) {
                                var option = selectElement.querySelector(`option[value="${id.trim()}"]`);
                                if (option) {
                                    option.selected = true;
                                }
                            });
                            var event = new Event('change');
                            selectElement.dispatchEvent(event);

                        });
                    };


                    // Activate Calender
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        selectable: true,
                        height: checkWidowWidth() ? 900 : 1052,
                        initialView: checkWidowWidth() ? 'dayGridMonth' : 'dayGridMonth',
                        initialDate: `${newDate.getFullYear()}-${getDynamicMonth()}-07`,
                        headerToolbar: calendarHeaderToolbar,
                        events: calendarEventsList,
                        select: calendarSelect,
                        unselect: function () {
                            console.log('unselected')
                        },
                        customButtons: {
                            addEventButton: {
                                text: 'Add Appointment',
                                click: calendarAddEvent
                            }
                        },
                        eventClassNames: function ({event: calendarEvent}) {
                            const getColorValue = calendarsEvents[calendarEvent._def.extendedProps.calendar];
                            return [
                                // Background Color
                                'event-fc-color text-' + getColorValue+ ' bg-light-' + getColorValue
                            ];
                        },
                        eventClick: calendarEventClick,
                        windowResize: function (arg) {
                            if (checkWidowWidth()) {
                                calendar.changeView('dayGridMonth');
                                calendar.setOption('height', 900);
                            } else {
                                calendar.changeView('dayGridMonth');
                                calendar.setOption('height', 1052);
                            }
                        }

                    });

                    // Calendar Renderation
                    calendar.render();

                    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'))
                    var modalToggle = document.querySelector('.fc-addEventButton-button ')

                    document.getElementById('exampleModal').addEventListener('hidden.bs.modal', function (event) {
                        getModalTitleEl.value = '';
                        getModalStartDateEl.value = '';
                        var selectElement = $('#event-client-id');
                        if (selectElement.length) {
                            selectElement.val(null).trigger('change');
                        }
                        var getModalIfCheckedRadioBtnEl = document.querySelector('input[name="purpose"]:checked');
                        if (getModalIfCheckedRadioBtnEl !== null) {
                            getModalIfCheckedRadioBtnEl.checked = false;
                        }
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching appointments:', error);
                }
            });
        }
        $(document).ready(function() {
            loadData();
        });
        function add_event() {
            document.getElementById("btn-profile").innerHTML = "Loading";
            document.getElementById('btn-profile').disabled = true;
            var form_Data = new FormData(document.getElementById("addEventForm"));
            $.ajax({
                url: "/user/add/appointments",
                type: "POST",
                data: form_Data,
                contentType: false,
                cache: false,
                processData: false,
                success: function (dataResult) {
                    document.getElementById('btn-profile').disabled = false;
                    document.getElementById("btn-profile").innerHTML = "Add Appointment";
                    if (dataResult.statusCode == 1) {
                        $('#exampleModal').modal('hide');
                        toastr.success('Appointment Added Successfully.');
                        loadData();
                        document.getElementById("addEventForm").reset();
                        var blob = new Blob([dataResult.icsContent], { type: "text/calendar;charset=utf-8" });
                        var link = document.createElement("a");
                        link.href = URL.createObjectURL(blob);
                        link.download = "event.ics";
                        link.click();
                        document.getElementById("addEventForm").reset();
                    } else if (dataResult.statusCode == 2) {
                        toastr.error("Required fields are empty!");
                    }else if (dataResult.statusCode == 3) {
                        toastr.error("You Can't Add An Appointment");
                    } else {
                        toastr.error('Something Went Wrong.');
                    }

                }
            });
        }
        function update_event() {
            var id = $("#edit_id_edit").val();
            var title = $("#edit_title_edit").val();
            var dateTime = $("#edit_date").val();
            var client_id = $("#event-client-id_edit").val();
            var csrf_token = $("input[name=csrf]").val();
            var purpose = $("input[name=edit_purpose]:checked").val();

            if (title != "" && dateTime != "" && purpose != "") {

                document.getElementById("btn").innerHTML = "Loading";
                $("#btn").attr("disabled");
                $.ajax
                ({
                    type: 'post',
                    url: '/user/update/appointments',
                    data: {
                        update_event: "update_event",
                        id: id,
                        title: title,
                        dateTime: dateTime,
                        client_id: client_id,
                        purpose: purpose,
                        csrf: csrf_token,
                    },
                    success: function (dataResult) {
                        if(dataResult.statusCode == 1){
                            $("#btn").removeAttr("disabled");
                            toastr.success('Update Successfully.');
                            $('#kt_modal_edit_event').modal('hide');
                            loadData();
                            document.getElementById("addEventForm").reset();
                            var blob = new Blob([dataResult.icsContent], { type: "text/calendar;charset=utf-8" });
                            var link = document.createElement("a");
                            link.href = URL.createObjectURL(blob);
                            link.download = "event.ics";
                            link.click();
                            document.getElementById("btn").innerHTML = "Update Appointment";
                        } else if (dataResult.statusCode == 2) {
                            toastr.error("Required fields are empty!");
                        } else if (dataResult.statusCode == 3) {
                            toastr.error("You Can't Update An Appointment");
                        }else{
                            toastr.error('Something Went Wrong.');
                            $("#btn").removeAttr("disabled");
                        }
                    }
                });
            }else{
                document.getElementById("btn").innerHTML = "Update Event";
                 document.getElementById("btn").disabled = false;
                toastr.error('Missing Required Input');
            }
            return false;
        }
        function deleteAppointment(deleteid) {
            $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> loading...');
            var csrf_token = $("input[name=csrf]").val();
            $.ajax({
                url: '/user/api',
                type: 'GET', data: {
                    id: deleteid,
                    page_name: "delete",
                    table_name: "appointment",
                    csrf: csrf_token
                }, success: function (data) {
                    if (data == 1) {
                        toastr.success('Successfully deleted.');
                        loadData();
                        $('#kt_modal_view_event').modal('hide');
                    } else {
                        toastr.error('Something went wrong.');

                    }
                }
            });
        }
    </script>
    <!--  END CONTENT AREA  -->
{% endblock %}