{% extends 'admin/master.twig' %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ env.APP_URL }}assets/dashboard/src/plugins/src/tagify/tagify.css">
    <link rel="stylesheet" type="text/css" href="{{ env.APP_URL }}assets/dashboard/src/plugins/css/light/tagify/custom-tagify.css">
    <style>
        .tagify__input{
            padding:0px !important;
        }
        .radioButton {
            float: left;
            margin: 0 5px 0 0;
            width: 100%;
            height: 100px;
            position: relative;
        }

        .radioButton label,
        .radioButton input {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .radioButton input[type="checkbox"] {
            opacity: 0.011;
            z-index: 100;
        }

        .radioButton input[type="checkbox"]:checked + label > button {
            background: #ED141F;
            color: white;
            border-color: #ED141F;
        }

        .radioButton label {
            cursor: pointer;
            z-index: 90;
            line-height: 70px;
        }

        .radioButton label > button {
            width: 100%;
            height: 100%;
            border-radius: 4px;
            background-color: transparent;
            border: 1px solid #000;
            color: #000;
            font-size: 16px;
        }
    </style>
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Toolbar-->
    <div class="toolbar" id="kt_toolbar">
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                <!--begin::Title-->
                <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Plans </h1>
                <!--end::Title-->
                <!--begin::Separator-->
                <span class="h-20px border-gray-300 border-start mx-4"></span>
                <!--end::Separator-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">Dashboard</li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-300 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-dark">Plans</li>
                    <!--end::Item-->
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
        </div>
    </div>
    <div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-fluid">
    <div class="layout-px-spacing">
    <div class="middle-content container-fluid p-0">
        <div class="layout-px-spacing">

            <div class="middle-content container-fluid p-0">

                <div class="row layout-spacing">
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-content widget-content-area br-8">
                            <div class="widget-content widget-content-area card">
                                <div class="card-header border-0 pt-6 w-100">
                                    <div class="col-md-6 mt-3 text-md-start text-center">
                                        <div class="d-flex align-items-center position-relative my-1">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                            <span class="svg-icon svg-icon-1 position-absolute ms-6">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
														<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
													</svg>
												</span>
                                            <!--end::Svg Icon-->
                                            <input type="text" data-kt-customer-table-filter="search" id="search" class="form-control form-control-solid w-250px ps-15" placeholder="Search " />
                                        </div>
                                    </div>
                                    <div class="col-md-6 mt-3 text-md-end text-center">
                                        <a href="/admin/add_plan" class="btn btn-primary  me-4" >
                                            <span class="btn-text-inner">Add</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="table"  class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                                        <thead>
                                        <tr>
                                            <th> Id </th>
                                            <th>name</th>
                                            <th>Monthly Price</th>
                                            <th>Yearly Price</th>
                                            <th >Status</th>
                                            <th >Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    </div>
    </div>
    </div>
    </div>
    <!--  END CONTENT AREA  -->
    <div class="modal fade" id="editExampleModal" tabindex="-1" aria-labelledby="editExampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Plan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
                </div>
                <div class="modal-body scroll-y mx-5 mx-xl-5 my-7">
                <form  method="post" id="editUploadForm" enctype="multipart/form-data">
                    <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll"
                         data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                         data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header"
                         data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px"
                         style="max-height: 570px;">
                    <input type="hidden"  id="id" name="id" >

                        <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control form-control-solid" id="name" name="name" placeholder="Name">

                                <input type="hidden" name="csrf" value="{{ csrf }}">
                            </div>
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label for="tags">Tags:</label>
                                <input name='basic' id="tagsData" class="form-control form-control-solid">
                            </div>
{#                        <div class="fv-row mb-7 fv-plugins-icon-container">#}
{#                                <label class="form-label">Key Points</label>#}
{#                                <div id="key_points_inputs">#}

{#                                </div>#}
{#                            </div>#}
{#                        <div class="fv-row mb-7 fv-plugins-icon-container">#}
{#                                <button class="btn btn-success " type="button" onclick="addKey_points();" style="float: right; background: #28a745 !important; border-color: #28a745 !important;">ADD <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>#}
{#                            </div>#}
{#                        <div class="fv-row mb-7 fv-plugins-icon-container">#}
{#                            <div id="addKey_points">#}
{#                            </div>#}
{#                            </div>#}

                        <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label">Discount (%)</label>
                                <input type="number" class="form-control form-control-solid" id="percentage" min="0" name="percentage" placeholder="Discount (%)" value="0">
                            </div>
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label">Monthly Price</label>
                                <input type="number" class="form-control form-control-solid" id="monthly_price" min="0" name="monthly_price" placeholder="Monthly Price">
                            </div>
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label">Yearly Price</label>
                                <input type="number" class="form-control form-control-solid" id="yearly_price" min="0" name="yearly_price" placeholder="Yearly Price">
                            </div>
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                            <div class="row">
                                {% for permission in permissions %}
                                    <div class="col-xl-4 col-md-6 mt-2">
                                            <input type="checkbox" class="btn-check" name="key_points[]" value="{{ permission.id }}" id="{{ permission.id }}">
                                            <label class="btn btn-outline btn-outline-dashed btn-outline-default p-7 d-flex align-items-center h-100" for="{{ permission.id }}">
                                                <span class="d-block fw-bold text-start">
                <span class="text-dark fw-bolder d-block fs-3">{{ permission.title }}</span>
            </span>
                                            </label>


{#                                        <div class="radioButton" style="margin-right: 10px">#}
{#                                            <input class=" m4 required-input" type="checkbox" name="key_points[]" id="{{ permission.id }}"#}
{#                                                   value="{{ permission.id }}">#}
{#                                            <label  for="{{ permission.id }}"><button type="button" class="btn btn-light-primary">{{ permission.title }}</button></label>#}
{#                                        </div>#}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        </div>

                    <div class="modal-footer justify-content-center">
                        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" name="add_new" id="btn-edit-plan" class="btn btn-primary" onclick="update_tool()">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.27.0/tagify.min.js" integrity="sha512-RZnh1b5EBFnw6IaiqEhT0dQy+dCbeC6ZybZY/CkMlk2OW8Eyj20/t8Js3Ka1Ot/sQIVL20N81p7FRQvloTZgtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>


        $(document).ready(function () {
            var csrf_token = $("input[name=csrf]").val();
            var table = $('#table').dataTable({
                "language": {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
                },
                "responsive": true,
                "bProcessing": true,
                "sAjaxSource": "/admin/api?page_name=view_plans&csrf="+csrf_token,
                "bPaginate": true,
                "sPaginationType": "full_numbers",
                "iDisplayLength": 10,
                "aoColumns": [
                    {mData: 'ids'},
                    {mData: 'name'},
                    {mData: 'monthlyPrice'},
                    {mData: 'yearlyPrice'},
                    {mData: 'statusView'},
                    {mData: 'action'},
                ]
            });
            $('#search').on('keyup', function() {
                $('#table').DataTable().search(this.value).draw();
            });
        });
        function userStatus(userID, status) {
            if(status == 0){
                var currStatus= "block";
            }else{
                var currStatus= "active";
            }
            var el = this;
            $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> loading...');
            var csrf_token = $("input[name=csrf]").val();
            $.ajax({
                url: '/admin/api',
                type: 'GET', data: {
                    id: userID,
                    status: currStatus,
                    page_name: "userStatusUpdate",
                    table_name:"plans",
                    status_table:"status",
                    csrf: csrf_token
                }, success: function (data) {
                    $(el).closest("tr").fadeOut();
                    if (data == 1) {
                        toastr.success('Status Updated.');
                        $(el).closest("tr").fadeOut();
                        $('#table').DataTable().ajax.reload(null, false);
                    } else {
                        toastr.error('Something went wrong.');

                    }
                }

            });
        }

        //Delete Data
        function deleteUser(deleteid) {
            var el = this;
            $(this).prop("disabled", true);
// add spinner to button
            $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> loading...');
            var csrf_token = $("input[name=csrf]").val();
            $.ajax({
                url: '/admin/api',
                type: 'GET', data: {
                    id: deleteid,
                    page_name: "delete",
                    table_name: "plans",
                    csrf: csrf_token
                }, success: function (data) {
                    $('#table').DataTable().ajax.reload(null, false);
                    $(el).closest("tr").fadeOut();
                    toastr.clear();
                    if (data == 1) {
                        toastr.success('Successfully deleted.');
                        $(el).closest("tr").fadeOut();
                        $('#table').DataTable().ajax.reload(null, false);
                    } else {
                        toastr.error('Something went wrong.');

                    }
                }
            });
        }
        $('body').on('click', '.edit', function () {
            var id = $(this).data('id');
            $('#editUploadForm').trigger("reset");
            $('#key_points_inputs').empty();
            $.ajax({
                url: "/admin/get_plan",
                type: "POST",
                data: {
                    edit: 1,
                    id: id,
                },
                cache: false,
                success: function (dataResult) {
                    var dataResult = JSON.parse(dataResult);
                    console.log(dataResult);

                    $('#name').val(dataResult[0].name);
                    $('#monthly_price').val(dataResult[0].monthly_price);
                    $('#yearly_price').val(dataResult[0].yearly_price);
                    $('input[name=id]').val(dataResult[0].id);
                    $('#tagsData').val(dataResult[0].tags);
                    $('#percentage').val(dataResult[0].percentage);

                    var keyPoints = dataResult[0].key_points.split(',');
                    keyPoints.forEach(keyPoint => {
                        // Trim any extra spaces and select the corresponding checkbox
                        $('#editUploadForm input[name="key_points[]"][value="' + keyPoint.trim() + '"]').prop('checked', true);
                    });
                }
            });
        });


        // function addKeyPointInput(keyPoint) {
        //     const keyPointsInputs = document.getElementById('key_points_inputs');
        //     const keyPointInput = document.createElement('input');
        //     keyPointInput.type = 'text';
        //     keyPointInput.classList.add('form-control');
        //     keyPointInput.classList.add('form-control-solid');
        //     keyPointInput.classList.add('mb-2');
        //     keyPointInput.classList.add('mt-2');
        //     keyPointInput.name = 'key_points[]';
        //     keyPointInput.value = keyPoint;
        //     keyPointInput.placeholder = 'Add Key Point';
        //     keyPointsInputs.appendChild(keyPointInput);
        // }
        var input = document.querySelector('input[name=basic]');
        new Tagify(input)
        function update_tool() {
            document.getElementById('btn-edit-plan').disabled = true;
            document.getElementById("btn-edit-plan").innerHTML = "loading";
            var tags = input.value;
            var form_Data = new FormData(document.getElementById("editUploadForm"));
            form_Data.set('basic', tags);
            $.ajax({
                url: "/admin/plan_edit",
                type: "POST",
                data: form_Data,
                contentType: false,
                cache: false,
                processData: false,
                success: function (dataResult) {
                    document.getElementById('btn-edit-plan').disabled = false;
                    document.getElementById("btn-edit-plan").innerHTML = "Update";
                    console.log(dataResult);

                    $("#btn-profile").removeAttr("disabled");
                    if (dataResult == 1) {
                        $('#table').DataTable().ajax.reload(null, false);
                        $('#editExampleModal').modal('hide');
                        toastr.success('Plan Updated Successfully.');
                        document.getElementById("editUploadForm").reset();
                    } else if (dataResult == 2) {
                        toastr.error("Required fields are empty!");
                    } else if (dataResult == 3) {
                        toastr.error("Please Add Prices");
                    } else {
                        toastr.error('Something Went Wrong.');
                    }
                },
                error: function () {
                    toastr.error('Error occurred while updating plan.');
                    $("#btn-profile").removeAttr("disabled");
                }
            });
        }
    </script>
    <script>


        // var room = 1;
        // function addKey_points() {
        //     room++;
        //     var objTo = document.getElementById('addKey_points')
        //     var divtest = document.createElement("div");
        //     divtest.setAttribute("class", "form-group row removeclass"+room);
        //     var rdiv = 'removeclass'+room;
        //
        //     divtest.innerHTML = ' <div class="col-sm-10 mt-2"><input type="text" class="form-control form-control-solid" id="key_points" name="key_points[]" placeholder="Add Key Point"></div><div class="col-sm-2 "><button class="btn btn-danger mt-3 mb-2" type="button" onclick="remove_Key_points('+ room +');" style="float: right; background: #dc3545 !important; border-color: #dc3545 !important;">DELETE <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></div>';
        //     objTo.appendChild(divtest)
        // }
        // // children remove fields
        // function remove_Key_points(rid) {
        //     $('.removeclass'+rid).remove();
        // }

        // The DOM element you wish to replace with Tagify
        var input = document.querySelector('input[name=basic]');

        // initialize Tagify on the above input node reference
        new Tagify(input)
    </script>
{% endblock %}