{% extends 'user/master.twig' %}
{% block content %}
    <style>
        /* Set styles for the container holding the Card Element */
        #CheckoutForm #card-element {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        /* Set styles for the Card Element container */
        #CheckoutForm .StripeElement {
            background-color: white !important;
            padding: 10px !important;
            border-radius: 5px !important;
        }

        /* Set styles for the Card Element inputs */
        #CheckoutForm .StripeElement input {
            border: none !important;
            outline: none !important;
        }

        /* Style the placeholder text */
        #CheckoutForm .StripeElement ::placeholder {
            color: #aab7c4 !important;
        }

        /* Style the inputs when they are focused */
        #CheckoutForm .StripeElement :focus {
            box-shadow: 0 0 5px rgba(81, 203, 238, 1) !important;
        }

        /* Additional style for the CardField input wrapper */
        .CardField-input-wrapper {
            background-color: #f7f7f7 !important;
            padding: 10px !important;
            border: 1px solid #ccc !important;
            border-radius: 5px !important;
        }

        /* Ensure the card element fits within the modal */
        #CheckoutForm .StripeElement {
            width: 100%;
        }
    </style>
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Toolbar-->
        <div class="toolbar" id="kt_toolbar">
            <!--begin::Container-->
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <!--begin::Page title-->
                <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                    <!--begin::Title-->
                    <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">{{ plans[0].name }}</h1>
                    <!--end::Title-->
                    <!--begin::Separator-->
                    <span class="h-20px border-gray-300 border-start mx-4"></span>
                    <!--end::Separator-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-muted">
                            <a href="/" class="text-muted text-hover-primary">Home</a>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-300 w-5px h-2px"></span>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-muted">Plans</li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-300 w-5px h-2px"></span>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-dark">Checkout</li>
                        <!--end::Item-->
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
            </div>
            <!--end::Container-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Post-->
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <!--begin::Container-->
            <div id="kt_content_container" class="container-xxl">
                <!--begin::Layout-->
                <div class="d-flex flex-column flex-lg-row">
                    <!--begin::Content-->
                    <div class="flex-lg-row-fluid me-lg-15 order-2 order-lg-1 mb-10 mb-lg-0">
                        <!--begin::Card-->
                        <div class="card card-flush pt-3 mb-5 mb-xl-10">
                            <!--begin::Card header-->
                            <div class="card-header">
                                <!--begin::Card title-->
                                <div class="card-title">
                                    <h2 class="fw-bolder">Plan Details</h2>
                                </div>

                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body pt-3">
                                <!--begin::Section-->
                                <div class="mb-10">
                                    <!--begin::Title-->
                                    <h5 class="mb-4">Billing Address:</h5>
                                    <!--end::Title-->
                                    <!--begin::Details-->
                                    <div class="d-flex flex-wrap py-5">
                                        <!--begin::Row-->
                                        <div class="flex-equal me-5">
                                            <!--begin::Details-->
                                            <table class="table fs-6 fw-bold gs-0 gy-2 gx-2 m-0">
                                                <!--begin::Row-->
                                                <tr>
                                                    <td class="text-gray-400 min-w-175px w-175px">Bill to:</td>
                                                    <td class="text-gray-800 min-w-200px">
                                                        <a href="mailto:" class="text-gray-800 text-hover-primary">{% if Billing_address[0].billing_email == '' %}Please add Your Billing Address <a href="/user/profile/billing">Add Billing Address</a> {% else %}{{ Billing_address[0].billing_email }}{% endif %}</a>
                                                    </td>
                                                </tr>
                                                <!--end::Row-->
                                                <!--begin::Row-->
                                                <tr>
                                                    <td class="text-gray-400">Customer Name:</td>
                                                    <td class="text-gray-800">{% if Billing_address[0].billing_name == '' %}Please add Your Billing Address <a href="/user/profile/billing">Add Billing Address</a> {% else %}{{ Billing_address[0].billing_name }}{% endif %}</td>
                                                </tr>
                                                <!--end::Row-->
                                                <!--begin::Row-->
                                                <tr>
                                                    <td class="text-gray-400">Address:</td>
                                                    <td class="text-gray-800">{% if Billing_address[0].billing_address == '' %}Please add Your Billing Address <a href="/user/profile/billing">Add Billing Address</a> {% else %}{{ Billing_address[0].billing_address }}{% endif %}</td>
                                                </tr>
                                                <!--end::Row-->
                                                <!--begin::Row-->
                                                <tr>
                                                    <td class="text-gray-400">Phone:</td>
                                                    <td class="text-gray-800">{{ userPhone }}</td>
                                                </tr>
                                                <!--end::Row-->
                                            </table>
                                            <!--end::Details-->
                                        </div>
                                        <!--end::Row-->
                                        <!--begin::Row-->
                                        <div class="flex-equal">
                                            <!--begin::Details-->
                                            <table class="table fs-6 fw-bold gs-0 gy-2 gx-2 m-0">
                                                <!--begin::Row-->
                                                <tr>
                                                    <td class="text-gray-400 min-w-175px w-175px">Subscribed Plan:</td>
                                                    <td class="text-gray-800 min-w-200px">
                                                        <a href="#" class="text-gray-800 text-hover-primary">{{ plans[0].name }}</a>
                                                    </td>
                                                </tr>
                                                <!--end::Row-->
                                                <!--begin::Row-->
                                                <tr>
                                                    <td class="text-gray-400">Subscription Fees:</td>
                                                    <td class="text-gray-800">    {% if type == 'month' %}
                                                            ${{ plans[0].monthly_price }}
                                                        {% else %}
                                                            ${{ plans[0].yearly_price }}
                                                        {% endif %} /  {% if type == 'month' %}Mon{% else %}Year{% endif %}</td>
                                                </tr>
                                                <!--end::Row-->
                                                <!--begin::Row-->
                                                <tr>
                                                    <td class="text-gray-400">Billing method:</td>
                                                    <td class="text-gray-800">{% if type == 'month' %}Monthly{% else %}Annually{% endif %}</td>
                                                </tr>
                                                <!--end::Row-->
                                                <!--begin::Row-->
                                                <!--end::Row-->
                                            </table>
                                            <!--end::Details-->
                                        </div>
                                        <!--end::Row-->
                                    </div>
                                    <!--end::Row-->
                                </div>
                                <!--end::Section-->
                                <!--begin::Section-->
                                <div class="mb-0">
                                    <div class="row g-10 bg-light bg-opacity-75 py-15 px-10">
                                        <div class="col-xl-12 text-center">
                                            <h5>Access detailed insights into the permissions associated with this plan, ensuring you have the control and flexibility required.</h5>
                                        </div>
                                        {% for permission in permissions %}
                                            <div class="col-xl-4 col-md-6">
                                                <div class="w-100 mb-5">
                                                    <div class="d-flex align-items-center mb-5">
                                                        <span class="fw-bold fs-6 text-gray-800 flex-grow-1 pe-3">{{ permission[0].title }}</span>
                                                        <!--begin::Svg Icon | path: icons/duotune/general/gen043.svg-->
                                                        <span class="svg-icon svg-icon-1 svg-icon-success">
																		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																			<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor" />
																			<path d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z" fill="currentColor" />
																		</svg>
																	</span>
                                                        <!--end::Svg Icon-->
                                                    </div>

                                                </div>
                                            </div>
                                        {% endfor %}
                                        <!--end::Col-->
                                    </div>
                                    <!--end::Product table-->
                                </div>
                                <!--end::Section-->
                            </div>
                            <!--end::Card body-->
                        </div>
                    </div>
                    <!--end::Content-->
                    <!--begin::Sidebar-->
                    <div class="flex-column flex-lg-row-auto w-lg-250px w-xl-300px mb-10 order-1 order-lg-2">
                        <!--begin::Card-->
                        <div class="card card-flush mb-0" data-kt-sticky="true" data-kt-sticky-name="subscription-summary" data-kt-sticky-offset="{default: false, lg: '200px'}" data-kt-sticky-width="{lg: '250px', xl: '300px'}" data-kt-sticky-left="auto" data-kt-sticky-top="150px" data-kt-sticky-animation="false" data-kt-sticky-zindex="95">
                            <!--begin::Card header-->
                            <div class="card-header">
                                <!--begin::Card title-->
                                <div class="card-title">
                                    <h2>Summary</h2>
                                </div>

                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body pt-0 fs-6">
                                <div class="mb-7">
                                    <h5 class="mb-4">Plan details</h5>
                                    <div class="mb-0">
                                        <span class="badge badge-light-info me-2">{{ plans[0].name }}</span>
                                        <!--end::Plan-->
                                        <!--begin::Price-->
                                        <span class="fw-bold text-gray-600">    {% if type == 'month' %}
                                                ${{ plans[0].monthly_price }}
                                            {% else %}
                                                ${{ plans[0].yearly_price }}
                                            {% endif %} /  {% if type == 'month' %}Mon{% else %}Year{% endif %}</span>
                                    </div>
                                </div>
                                <!--end::Section-->
                                <!--begin::Seperator-->
                                <div class="separator separator-dashed mb-7"></div>
                                <div class="mb-10">
                                    <!--begin::Title-->
                                    <h5 class="mb-4">Price Details</h5>
                                    <!--end::Title-->
                                    <!--begin::Details-->
                                    <table class="table fs-6 fw-bold gs-0 gy-2 gx-2">
                                        <!--begin::Row-->
                                        <tr class="">
                                            <td class="text-gray-400">Subtotal:</td>
                                            <td class="text-gray-800">{% if type == 'month' %}
                                                    ${{ plans[0].monthly_price }}
                                                {% else %}
                                                    ${{ plans[0].yearly_price }}
                                                {% endif %}</td>
                                        </tr>
                                        <!--end::Row-->
                                        <!--begin::Row-->
                                        <tr class="">
                                            <td class="text-gray-400">Discount:</td>
                                            <td class="text-gray-800">{{ plans[0].percentage }}%</td>
                                        </tr>
                                        <tr class="">
                                            <td class="text-gray-400">Total Price:</td>
                                            <td class="text-gray-800">${{ totalPrice }}</td>
                                        </tr>
                                        <!--end::Row-->
                                    </table>
                                    <!--end::Details-->
                                </div>
                                <!--end::Section-->
                                <!--begin::Actions-->
                                <div class="mb-0">
                                        <a role="button" data-bs-toggle="modal" data-bs-target="#editExampleModal" class="btn btn-primary w-100" >Checkout</a>
                                </div>
                                <!--end::Actions-->
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end::Sidebar-->
                </div>
                <!--end::Layout-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Post-->
    </div>
    <div class="modal fade" id="editExampleModal" tabindex="-1" aria-labelledby="editExampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mw-650px">
            <div class="modal-content bg-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
                </div>
                <div class="modal-body scroll-y mx-5 mx-xl-5 my-7">
                    <form method="post" id="CheckoutForm">
                        <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll"
                             data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                             data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header"
                             data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px"
                             style="max-height: 570px;">
                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <input type="hidden" name="user_id" id="user_id" value="{{ loginId }}">
                                <input type="hidden" name="email" id="email" value="{{ userEmail }}">
                                <input type="hidden" name="billing_address_id" id="billing_address_id" value="{{ Billing_address[0].id }}">
                                <input type="hidden" name="plan_id" id="plan_id" value="{{ plans[0].id }}">
                                <input type="hidden" name="plan_type" id="plan_type" value="{{ type }}">
                                <input type="hidden" name="total_price" id="total_price" value="{{ totalPrice }}">
                                <h4 class="m-3 text-center">Pay with Debit/Credit Card</h4>
                                <div id="card-element"></div>
                                <br>
                                <div id="card-errors" role="alert"></div>
                                <input type="hidden" name="stripeToken" id="stripeToken">
                                <span id="result"></span>
                            </div>
                        </div>

                        <div class="modal-footer justify-content-center">
                            <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary " id="btn-plan" type="submit">Checkout</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>


    <script>
        // Initialize Stripe
        var stripe = Stripe('{{ Admin_Stripe_public_key }}');
        var elements = stripe.elements();
        var style = {
            base: {
                fontSize: '16px',
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                '::placeholder': {
                    color: '#7e7e7e',
                },
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a',
            },
        };
        var cardElement = elements.create('card', { style: style });
        cardElement.mount('#card-element');

        var form = document.getElementById('CheckoutForm');

        // Handle form submission
        form.addEventListener('submit', async function(event) {
            event.preventDefault();
            document.getElementById('btn-plan').disabled = true;
            document.getElementById("btn-plan").innerHTML = "Loading...";

            let subscr_plan_id = document.getElementById("plan_id").value;
            // Create customer subscription
            const response = await fetch("/user/plan/checkout", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    request_type: 'create_customer_subscription',
                    subscr_plan_id: subscr_plan_id
                }),
            });

            const data = await response.json();
            console.log(data);
            if (data.subscriptionId && data.clientSecret) {
                handlePayment(data.subscriptionId,data.transactionId, data.clientSecret,data.currentPeriodEnd, data.customerId);
            } else {
                showError(data.error);
                document.getElementById('btn-plan').disabled = false;
                document.getElementById("btn-plan").innerHTML = "Submit Payment";
            }
        });

        function handlePayment(subscriptionId,transactionId, clientSecret,currentPeriodEnd, customerId) {
            stripe.confirmCardPayment(clientSecret, {
                payment_method: {
                    card: cardElement,
                    billing_details: {
                        name: document.getElementById("email").value,
                    },
                }
            }).then((result) => {
                if (result.error) {
                    showError(result.error.message);
                    document.getElementById('btn-plan').disabled = false;
                    document.getElementById("btn-plan").innerHTML = "Submit Payment";
                } else {
                    let package_form_id = document.getElementById("plan_id").value;
                    let pricePackage = document.getElementById("total_price").value;
                    // Payment successful
                    fetch("/user/plan/checkout", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({
                            request_type: 'payment_insert',
                            pricePackage: pricePackage,
                            package_form_id: package_form_id,
                            current_period_end: currentPeriodEnd,
                            transaction_id: transactionId,
                            subscription_id: subscriptionId,
                            customer_id: customerId,
                            payment_intent: result.paymentIntent
                        }),
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            if (data.payment_id) {
                                showSuccess("Payment Successful!");
                                $('#editExampleModal').modal('hide');
                                document.getElementById("editUploadForm").reset();
                                $('#table').DataTable().ajax.reload(null, false);
                            } else {
                                showError(data.error);
                            }
                            document.getElementById('btn-stripe').disabled = false;
                            document.getElementById("btn-stripe").innerHTML = "Submit Payment";
                        })
                        .catch(console.error);
                }
            });
        }

        function showError(message) {
            document.getElementById('btn-plan').disabled = false;
            document.getElementById("btn-plan").innerHTML = "Submit Payment";
            document.getElementById("card-errors").textContent = message;
        }

        function showSuccess(message) {
            document.getElementById('btn-plan').disabled = false;
            document.getElementById("btn-plan").innerHTML = "Submit Payment";
            document.getElementById("result").innerHTML = '<div class="alert-success alert alert-fill alert-dismissible alert-icon" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button></div>';
            window.location.href='/user/dashboard';
        }
    </script>
{% endblock %}