{% extends 'user/master.twig' %}
{% block content %}
    <input type="text" id="chatWithUserID" value="{{ user_id }}" hidden>
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Toolbar-->
        <div class="toolbar" id="kt_toolbar">
            <!--begin::Container-->
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <!--begin::Page title-->
                <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                    <!--begin::Title-->
                    <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Messaging
                        <!--begin::Separator-->
                        <span class="h-20px border-1 border-gray-200 border-start ms-3 mx-2 me-1"></span>
                        <!--end::Separator-->
                        <!--end::Description-->
                    </h1>
                    <!--end::Title-->
                </div>
                <!--end::Page title-->
                <!--begin::Actions-->
                <div class="d-flex align-items-center gap-2 gap-lg-3">
                    <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#groupCreateModal">Create Group</button>
                    <!--end::Primary button-->
                </div>
                <!--end::Actions-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Post-->
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <!--begin::Container-->
            <div id="kt_content_container" class="container-fluid">
                <!--begin::Layout-->
                <div class="d-flex flex-column flex-lg-row">
                    <!--begin::Sidebar-->
                    <div class="flex-column flex-lg-row-auto w-100 w-lg-300px w-xl-400px mb-10 mb-lg-0">
                        <!--begin::Contacts-->
                        <div class="card card-flush">
                            <!--begin::Card header-->
                            <div class="card-header pt-7" id="kt_chat_contacts_header">
                                <!--begin::Form-->
                                <form class="w-100 position-relative" autocomplete="off">
                                    <!--begin::Icon-->
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                    <span class="svg-icon svg-icon-2 svg-icon-lg-1 svg-icon-gray-500 position-absolute top-50 ms-5 translate-middle-y">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
															<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
														</svg>
													</span>
                                    <!--end::Svg Icon-->
                                    <!--end::Icon-->
                                    <!--begin::Input-->
                                    <input type="text" class="form-control form-control-solid px-15" name="search" value="" placeholder="Search by username or email..." />
                                    <!--end::Input-->
                                </form>
                                <!--end::Form-->
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body pt-5" id="kt_chat_contacts_body">
                                <!--begin::List-->
                                <div class="scroll-y me-n5 pe-5 h-200px h-lg-auto" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_chat_contacts_header" data-kt-scroll-wrappers="#kt_content, #kt_chat_contacts_body" data-kt-scroll-offset="5px">

                                    <!-- Loop through users -->
                                    {% for user in chatUsers %}
                                        <!--begin::User-->
                                        <div class="d-flex flex-stack py-4" data-user-name="{{ user.fname }} {{ user.lname }}" data-user-email="{{ user.email }}">
                                            <!--begin::Details-->
                                            <div class="d-flex align-items-center">
                                                <!--begin::Avatar-->
                                                <div class="symbol symbol-45px symbol-circle">
                                                    {% if user.profile_image is not null %}
                                                        <img alt="User Pic" src="{{ env.APP_URL }}uploads/profile/{{ user.profile_image }}" />
                                                    {% else %}
                                                        <img alt="User Pic" src="https://avatar.iran.liara.run/username?username={{ user.fname|ucwords }} {{ user.lname|ucwords }}" />
                                                    {% endif %}
                                                </div>
                                                <!--end::Avatar-->
                                                <!--begin::Details-->
                                                <div class="ms-5">
                                                    {% if user.type == 'group' %}
                                                        <a href="/user/group/{{ user.id }}" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">{{ user.fname|ucwords }} {{ user.lname|ucwords }}</a>
                                                        <small>
                                                            <a style="margin-left: 10px;" class="ml-5" href="/group/del/{{ user.id }}"><i class="bi bi-trash text-danger"></i></a>
                                                        </small>
                                                    {% else %}
                                                        <a href="/user/chat/{{ user.id }}" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">{{ user.fname|ucwords }} {{ user.lname|ucwords }}
                                                            <div class="fw-bold text-muted">{{ user.email }}</div>
                                                        </a>
                                                            {% endif %}
                                                </div>
                                                <!--end::Details-->
                                            </div>
                                            <!--end::Details-->
                                            <!--begin::Last seen-->
{#                                            <div class="d-flex flex-column align-items-end ms-2">#}
{#                                                <span class="text-muted fs-7 mb-1">1 week</span>#}
{#                                            </div>#}
                                            <!--end::Last seen-->
                                        </div>
                                        <!--end::User-->
                                        <!--begin::Separator-->
                                        <div class="separator separator-dashed d-none"></div>
                                        <!--end::Separator-->
                                    {% endfor %}

                                </div>
                                <!--end::List-->
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Contacts-->
                    </div>
                    <!--end::Sidebar-->
                    <!--begin::Content-->
                    <div class="flex-lg-row-fluid ms-lg-7 ms-xl-10">
                        <!--begin::Messenger-->
                        <div class="card" id="kt_chat_messenger">
                            <!--begin::Card header-->
                            <div class="card-header" id="kt_chat_messenger_header">
                                <!--begin::Title-->
                                <div class="card-title">
                                    <!--begin::Users-->
                                    <div class="symbol-group symbol-hover">



                                    </div>
                                    <!--end::Users-->
                                </div>
                                <!--end::Title-->
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body" id="kt_chat_messenger_body">
                                <!--begin::Messages-->
                                <div class="scroll-y me-n5 pe-5 h-300px h-lg-auto" data-kt-element="messages" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_chat_messenger_header, #kt_chat_messenger_footer" data-kt-scroll-wrappers="#kt_content, #kt_chat_messenger_body" data-kt-scroll-offset="5px">


                                    <div class="text-muted text-center py-20">Choose user to start Chat.</div>
                                    <div class="d-flex justify-content-start mb-10 d-none" data-kt-element="template-in">
                                        <!--begin::Wrapper-->
                                        <div class="d-flex flex-column align-items-start">
                                            <!--begin::User-->
                                            <div class="d-flex align-items-center mb-2">
                                                <!--begin::Avatar-->
                                                <div class="symbol symbol-35px symbol-circle">
                                                    <img alt="Pic" src="{{ env.APP_URL }}assets/dash/assets/media/avatars/300-25.jpg" />
                                                </div>
                                                <!--end::Avatar-->
                                                <!--begin::Details-->
                                                <div class="ms-3">
                                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary me-1">Brian Cox</a>
                                                    <span class="text-muted fs-7 mb-1">Just now</span>
                                                </div>
                                                <!--end::Details-->
                                            </div>
                                            <!--end::User-->
                                            <!--begin::Text-->
                                            <div class="p-5 rounded bg-light-info text-dark fw-bold mw-lg-400px text-start" data-kt-element="message-text">Right before vacation season we have the next Big Deal for you.</div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Wrapper-->
                                    </div>
                                    <!--end::Message(template for in)-->
                                </div>
                                <!--end::Messages-->
                            </div>
                            <!--end::Card body-->
                            <!--begin::Card footer-->
                            <div class="card-footer pt-4" id="kt_chat_messenger_footer">
                                <!--begin::Input-->
                                <!--end::Input-->
                                <!--begin:Toolbar-->
                                <div class="d-flex flex-stack">

                                </div>
                                <!--end::Toolbar-->
                            </div>
                            <!--end::Card footer-->
                        </div>
                        <!--end::Messenger-->
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Layout-->
                <!--begin::Modals-->
                <!-- Modal -->
                <div class="modal fade" id="groupCreateModal" tabindex="-1" aria-labelledby="groupCreateModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="post" action="/group/create">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="groupCreateModalLabel">Create Group</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="name">Group Name</label>
                                            <input type="text" name="name" class="form-control" placeholder="Group Name" required />
                                        </div>
                                        <div class="col-12 mt-4">
                                            <label for="member_ids">Select Group Members</label>
                                            <select name="member_ids[]" class="form-select form-select-solid" data-control="select2" data-placeholder="Select an option" data-allow-clear="true" multiple="multiple">
                                                {% for user in chatUsers %}
                                                    <option value="{{ user.id }}">{{ user.fname }} {{ user.lname }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--end::Modals-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Post-->
    </div>
    <!--end::Content-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.5.3/dist/perfect-scrollbar.min.js"></script>

    <script>
        function getMessages(userId) {
            $.ajax({
                url: `/chat/messages/${userId}`,
                method: 'GET',
                dataType: 'json',
                success: function(response) {
                    const chatContainer = $(`.chat[data-chat="${userId}"]`);
                    chatContainer.find('.bubble').remove();
                    const conversationStart = chatContainer.find('.conversation-start');
                    conversationStart.remove();
                    let currentDate = '';
                    response.messages.forEach(message => {
                        const messageDate = new Date(message.timestamp).toLocaleDateString();
                        if (messageDate !== currentDate) {
                            currentDate = messageDate;
                            const dateElement = `
                            <div class="conversation-start">
                                <span>${currentDate}</span>
                            </div>`;
                            chatContainer.append(dateElement);
                        }
                        const messageClass = message.sender_id === '{{ loginId }}' ? 'bubble me' : 'bubble you';
                        const messageElement = `
                        <div class="${messageClass}">
                            ${message.message}
                        </div>`;
                        chatContainer.append(messageElement);
                    });
                    chatContainer.scrollTop(chatContainer[0].scrollHeight);
                },
                error: function(xhr) {
                    console.error();
                    notie.alert({ type: 'warning', text: 'Error fetching messages: ' + xhr.responseText });
                }
            });
        }

        const ws = new WebSocket('wss://dev.techneketax.com/ws/');
        ws.onopen = function() {
            console.log('WebSocket connection established');
        };
        ws.onmessage = function(event) {
            const message = JSON.parse(event.data);
            const activeChat = document.querySelector('.chat.active-chat');

            if (activeChat) {
                const messageElement = document.createElement('div');
                messageElement.classList.add('bubble', 'you');
                messageElement.textContent = message.message;
                activeChat.appendChild(messageElement);
                const chatBox = document.querySelector('.chat-conversation-box');
                chatBox.scrollTop = chatBox.scrollHeight;
            } else {
                console.error('No active chat found.');
            }
        };

        $('.user-list-box .person').on('click', function() {
            const userId = $(this).attr('data-chat');
            $('#activeUserID').val(userId);
            getMessages(userId);
            if ($(this).hasClass('active')) {
                return false;
            } else {
                const findChat = $(this).attr('data-chat');
                const personName = $(this).find('.user-name').text();
                const personImage = $(this).find('img').attr('src');

                // Update UI for active chat
                $('.chat').removeClass('active-chat');
                $(this).addClass('active');
                $('.chat[data-chat="' + findChat + '"]').addClass('active-chat');

                // Scroll to bottom of chat
                const getScrollContainer = document.querySelector('.chat-conversation-box');
                getScrollContainer.scrollTop = getScrollContainer.scrollHeight;
            }
        });

        $('.mail-write-box').on('keydown', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                const chatInput = $(this);
                const chatMessageValue = chatInput.val();
                const activeChat = $('.chat.active-chat');
                const receiverId = activeChat.attr('data-chat');
                const senderId = '{{ loginId }}'; // Replace with dynamic user ID

                if (chatMessageValue === '') {
                    return;
                }

                const messageData = {
                    sender_id: senderId,
                    receiver_id: receiverId,
                    message: chatMessageValue
                };

                ws.send(JSON.stringify(messageData));
                const $messageHtml = $('<div class="bubble me">' + chatMessageValue + '</div>');
                activeChat.append($messageHtml);
                const getScrollContainer = document.querySelector('.chat-conversation-box');
                getScrollContainer.scrollTop = getScrollContainer.scrollHeight;
                chatInput.val('');
            }
        });
    </script>


{% endblock %}
