{% extends 'user/master.twig' %}
{% block content %}
    <input type="text" id="chatWithUserID" value="{{ user_id }}" hidden>
    <input type="hidden" id="groupId" value="{{ groupId }}">

    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

        <!--begin::Toolbar-->
        <div class="toolbar" id="kt_toolbar">
            <!--begin::Container-->
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <!--begin::Page title-->
                <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                    <!--begin::Title-->
                    <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Messaging
                        <!--begin::Separator-->
                        <span class="h-20px border-1 border-gray-200 border-start ms-3 mx-2 me-1">-</span>
                        <!--end::Separator-->
                        <div class="text-muted">{{ chatWithUserInfo.fname }} {{ chatWithUserInfo.lname }}</div>
                        <!--end::Description-->
                    </h1>
                    <!--end::Title-->
                </div>
                <!--end::Page title-->
                <!--begin::Actions-->
                <div class="d-flex align-items-center gap-2 gap-lg-3">
                    <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#groupCreateModal">Create Group</button>
                    <!--end::Primary button-->
                </div>
                <!--end::Actions-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Post-->
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <!--begin::Container-->
            <div id="kt_content_container" class="container-fluid">
                <!--begin::Layout-->
                <div class="d-flex flex-column flex-lg-row">
                    <!--begin::Sidebar-->
                    <div class="flex-column flex-lg-row-auto w-100 w-lg-300px w-xl-400px mb-10 mb-lg-0">
                        <!--begin::Contacts-->
                        <div class="card card-flush">
                            <!--begin::Card header-->
                            <div class="card-header pt-7" id="kt_chat_contacts_header">
                                <!--begin::Form-->
                                <form class="w-100 position-relative" autocomplete="off">
                                    <!--begin::Icon-->
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                    <span class="svg-icon svg-icon-2 svg-icon-lg-1 svg-icon-gray-500 position-absolute top-50 ms-5 translate-middle-y">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
															<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
														</svg>
													</span>
                                    <!--end::Svg Icon-->
                                    <!--end::Icon-->
                                    <!--begin::Input-->
                                    <input type="text" class="form-control form-control-solid px-15" name="search" value="" placeholder="Search by name or email..." />
                                    <!--end::Input-->
                                </form>
                                <!--end::Form-->
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body pt-5" id="kt_chat_contacts_body">
                                <!--begin::List-->
                                <div class="scroll-y me-n5 pe-5 h-200px h-lg-auto" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_chat_contacts_header" data-kt-scroll-wrappers="#kt_content, #kt_chat_contacts_body" data-kt-scroll-offset="5px">

                                    <!-- Loop through users -->
                                    {% for user in chatUsers %}
                                        <!--begin::User-->
                                        <div class="d-flex flex-stack py-4" data-user-name="{{ user.fname }} {{ user.lname }}" data-user-email="{{ user.email }}">
                                            <!--begin::Details-->
                                            <div class="d-flex align-items-center">
                                                <!--begin::Avatar-->
                                                <div class="symbol symbol-45px symbol-circle">
                                                    {% if user.profile_image is not null %}
                                                        <img alt="User Pic" src="{{ env.APP_URL }}uploads/profile/{{ user.profile_image }}" />
                                                    {% else %}
                                                        <img alt="User Pic" src="https://avatar.iran.liara.run/username?username={{ user.fname }} {{ user.lname }}" />
                                                    {% endif %}
                                                </div>
                                                <!--end::Avatar-->
                                                <!--begin::Details-->
                                                <div class="ms-5">
                                                    {% if user.type == 'group' %}
                                                        <a href="/user/group/{{ user.id }}" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">{{ user.fname|ucwords }} {{ user.lname|ucwords }}
                                                            <small>
                                                                <a style="margin-left: 10px;" class="ml-5" href="/group/del/{{ user.id }}"><i class="bi bi-trash text-danger"></i></a>
                                                            </small>
                                                        </a>
                                                    {% else %}
                                                        <a href="/user/chat/{{ user.id }}" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">{{ user.fname|ucwords }} {{ user.lname|ucwords }}
                                                        <div class="fw-bold text-muted">{{ user.email }}</div>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                                <!--end::Details-->
                                            </div>
                                            <!--end::Details-->
                                            <!--begin::Last seen-->
                                            {#                                            <div class="d-flex flex-column align-items-end ms-2">#}
                                            {#                                                <span class="text-muted fs-7 mb-1">1 week</span>#}
                                            {#                                            </div>#}
                                            <!--end::Last seen-->
                                        </div>
                                        <!--end::User-->
                                        <!--begin::Separator-->
                                        <div class="separator separator-dashed d-none"></div>
                                        <!--end::Separator-->
                                    {% endfor %}

                                </div>
                                <!--end::List-->
                            </div>


                            <!--end::Card body-->
                        </div>
                        <!--end::Contacts-->
                    </div>
                    <!--end::Sidebar-->
                    <!--begin::Content-->
                    <div class="flex-lg-row-fluid ms-lg-7 ms-xl-10">
                        <!--begin::Messenger-->
                        <div class="card" id="kt_chat_messenger">
                            <!--begin::Card header-->
                            <div class="card-header" id="kt_chat_messenger_header">
                                <!--begin::Title-->
                                <div class="card-title">
                                    <!--begin::Users-->
                                    <div class="symbol-group symbol-hover">
                                        <!--begin::Avatar-->
                                        <div class="symbol symbol-35px symbol-circle">
                                            {% if chatWithUserInfo.profile_image != null %}
                                                <img alt="Pic" src="{{ env.APP_URL }}uploads/profile/{{ chatWithUserInfo.profile_image }}" />
                                            {% else %}
                                                <img alt="Pic" src="https://avatar.iran.liara.run/username?username={{ chatWithUserInfo.fname }} {{ chatWithUserInfo.lname }}" />
                                            {% endif %}
                                        </div>
                                        <!--end::Avatar-->

                                        <!--begin::All users-->
                                        {% if groupMembersCount != null %}
                                            <a href="#" class="symbol symbol-35px symbol-circle"  data-bs-toggle="modal" data-bs-target="#kt_modal_view_users">
                                                <span class="symbol-label fs-8 fw-bolder" data-bs-toggle="tooltip" data-bs-trigger="hover" title="View more users">+{{ groupMembersCount }}</span>
                                            </a>
                                        {% endif %}
                                        <a href="#" class=" pl-4" >
                                            <h4 style="margin-left: 15px;" title="{{ chatWithUserInfo.fname }} {{ chatWithUserInfo.lname }}">{{ chatWithUserInfo.fname|ucwords }} {{ chatWithUserInfo.lname|ucwords }}</h4>
                                        </a>

                                        <!--end::All users-->
                                    </div>
                                    <!--end::Users-->
                                </div>
                                <!--end::Title-->
                                <div class="card-toolbar">
                                    <!--begin::Menu-->
                                    {#                                    <div class="me-n3">#}
                                    {#                                        <a href="/call/ring/{{ user_id }}" class="btn btn-lg btn-icon btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">#}
                                    {#                                        <i class="bi bi-telephone-fill"></i>#}
                                    {#                                        </a>#}
                                    {#                                    </div>#}

{#                                    <div class="me-n3">#}
{#                                        <a href="/video-call/ring/{{ user_id }}" class="btn btn-lg btn-icon btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">#}
{#                                            <i class="bi bi-telephone-fill"></i>#}
{#                                        </a>#}
{#                                    </div>#}

                                    <div class="me-n3">
                                        <a  class="btn btn-lg btn-icon" data-bs-toggle="modal" data-bs-target="#kt_modal_view_users">
                                            <i class="bi bi-plus" style="font-size: 2rem;"></i>
                                        </a>
                                    </div>

                                    <!--end::Menu-->
                                </div>
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body" id="kt_chat_messenger_body">
                                <!--begin::Messages-->
                                <div class="scroll-y me-n5 pe-5 h-300px h-lg-auto" data-kt-element="messages" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_chat_messenger_header, #kt_chat_messenger_footer" data-kt-scroll-wrappers="#kt_content, #kt_chat_messenger_body" data-kt-scroll-offset="5px">


                                    <div class="text-muted text-center py-20">
                                        <div class="spinner-border" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>

                                    <!--begin::Message(template for out)-->
                                    <div class="d-flex justify-content-end mb-10 d-none" data-kt-element="template-out">
                                        <!--begin::Wrapper-->
                                        <div class="d-flex flex-column align-items-end">
                                            <!--begin::User-->
                                            <div class="d-flex align-items-center mb-2">
                                                <!--begin::Details-->
                                                <div class="me-3">
                                                    <span class="text-muted fs-7 mb-1">Just now</span>
                                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary ms-1">You</a>
                                                </div>
                                                <!--end::Details-->
                                                <!--begin::Avatar-->
                                                <div class="symbol symbol-35px symbol-circle">
                                                    <img alt="Pic" src="{{ env.APP_URL }}assets/dash/assets/media/avatars/300-1.jpg" />
                                                </div>
                                                <!--end::Avatar-->
                                            </div>
                                            <!--end::User-->
                                            <!--begin::Text-->
                                            <div class="p-5 rounded bg-light-primary text-dark fw-bold mw-lg-400px text-end" data-kt-element="message-text">hhhhh</div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Wrapper-->
                                    </div>
                                    <!--end::Message(template for out)-->
                                    <!--begin::Message(template for in)-->
                                    <div class="d-flex justify-content-start mb-10 d-none" data-kt-element="template-in">
                                        <!--begin::Wrapper-->
                                        <div class="d-flex flex-column align-items-start">
                                            <!--begin::User-->
                                            <div class="d-flex align-items-center mb-2">
                                                <!--begin::Avatar-->
                                                <div class="symbol symbol-35px symbol-circle">
                                                    <img alt="Pic" src="{{ env.APP_URL }}assets/dash/assets/media/avatars/300-25.jpg" />
                                                </div>
                                                <!--end::Avatar-->
                                                <!--begin::Details-->
                                                <div class="ms-3">
                                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary me-1">Brian Cox</a>
                                                    <span class="text-muted fs-7 mb-1">Just now</span>
                                                </div>
                                                <!--end::Details-->
                                            </div>
                                            <!--end::User-->
                                            <!--begin::Text-->
                                            <div class="p-5 rounded bg-light-info text-dark fw-bold mw-lg-400px text-start" data-kt-element="message-text">Right before vacation season we have the next Big Deal for you.</div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Wrapper-->
                                    </div>
                                    <!--end::Message(template for in)-->
                                </div>
                                <!--end::Messages-->
                            </div>
                            <!--end::Card body-->
                            <!--begin::Card footer-->
                            <div class="card-footer pt-4" id="kt_chat_messenger_footer">
                                <!--begin::Input-->
                                <textarea class="form-control form-control-flush mb-3" rows="1" data-kt-element="input" placeholder="Type a message"></textarea>
                                <!--end::Input-->
                                <!--begin:Toolbar-->
                                <div class="d-flex flex-stack">

                                    <!--begin::Send-->
                                    <button class="btn btn-primary" type="button" data-kt-element="send">Send</button>
                                    <!--end::Send-->
                                </div>
                                <!--end::Toolbar-->
                            </div>
                            <!--end::Card footer-->
                        </div>
                        <!--end::Messenger-->
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Layout-->
                <!--begin::Modals-->
                <!--begin::Modal - View Users-->
                <div class="modal fade" id="kt_modal_view_users" tabindex="-1" aria-hidden="true">
                    <!--begin::Modal dialog-->
                    <div class="modal-dialog mw-650px">
                        <!--begin::Modal content-->
                        <div class="modal-content">
                            <!--begin::Modal header-->
                            <div class="modal-header pb-0 border-0 justify-content-end">
                                <!--begin::Close-->
                                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                    <span class="svg-icon svg-icon-1">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
															<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
														</svg>
													</span>
                                    <!--end::Svg Icon-->
                                </div>
                                <!--end::Close-->
                            </div>
                            <!--begin::Modal header-->
                            <!--begin::Modal body-->
                            <div class="modal-body scroll-y mx-5 mx-xl-18 pt-0 pb-15">
                                <!--begin::Heading-->
                                <div class="text-center mb-13">
                                    <!--begin::Title-->
                                    <h1 class="mb-3">Group Members</h1>
                                    <!--end::Title-->
                                </div>
                                <!--end::Heading-->

                                <!--begin::Add Group Members-->
                                <div class="d-flex justify-content-between mb-10">
                                    <div class="flex-grow-1 me-3">
                                        <select id="Groupmember_ids" name="Groupmember_ids[]" class="form-select form-select-solid" data-control="select2" data-placeholder="Select members to add" data-allow-clear="true" multiple="multiple">
                                            {% for user in availableUsers %}
                                                <option value="{{ user.id }}">{{ user.fname }} {{ user.lname }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <button id="addGroupMembers" class="btn btn-dark btn-sm">Add</button>
                                    </div>
                                </div>
                                <!--end::Add Group Members-->

                                <!--begin::Users-->
                                <div class="mb-15">
                                    <!--begin::List-->
                                    <div class="mh-375px scroll-y me-n7 pe-7" id="groupMembersList">
                                        {% for groupMember in groupMembers %}
                                            <!--begin::User-->
                                            <div class="d-flex justify-content-between py-5 border-bottom border-gray-300 border-bottom-dashed align-items-center group-member" id="member-{{ groupMember.user_id }}">
                                                <!--begin::Details-->
                                                <div class="d-flex align-items-center">
                                                    <!--begin::Avatar-->
                                                    <div class="symbol symbol-35px symbol-circle">
                                                        {% if groupMember.profile_image != null %}
                                                            <img alt="Pic" src="{{ env.APP_URL }}uploads/profile/{{ groupMember.profile_image }}" />
                                                        {% else %}
                                                            <img alt="Pic" src="https://avatar.iran.liara.run/username?username={{ groupMember.fname }} {{ groupMember.lname }}" />
                                                        {% endif %}
                                                    </div>
                                                    <!--end::Avatar-->
                                                    <!--begin::Details-->
                                                    <div class="ms-6">
                                                        <!--begin::Name-->
                                                        <a href="#" class="d-flex align-items-center fs-5 fw-bolder text-dark text-hover-primary">
                                                            {{ groupMember.fname|ucwords }} {{ groupMember.lname|ucwords }}
                                                            <span class="badge badge-light fs-8 fw-bold ms-2">{{ groupMember.type|ucwords }}</span>
                                                        </a>
                                                        <!--end::Name-->
                                                    </div>
                                                </div>
                                                <!--end::Details-->
                                                <!--begin::Action-->
                                                <div class="text-end">
                                                    <a href="#" onclick="deleteGroupMember('/group/delete/{{ groupId }}/{{ groupMember.user_id }}', '{{ groupMember.user_id }}')" class="btn btn-danger btn-sm">Delete</a>
                                                </div>
                                                <!--end::Action-->
                                            </div>
                                            <!--end::User-->
                                        {% endfor %}
                                    </div>
                                    <!--end::List-->
                                </div>
                                <!--end::Users-->
                            </div>
                            <!--end::Modal body-->

                        </div>
                        <!--end::Modal content-->
                    </div>
                    <!--end::Modal dialog-->
                </div>
                <!--end::Modal - View Users-->

                <!--end::Modals-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Post-->
    </div>
    <!--end::Content-->



    <!-- Modal -->
    <div class="modal fade" id="groupCreateModal" tabindex="-1" aria-labelledby="groupCreateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="/group/create">
                    <div class="modal-header">
                        <h5 class="modal-title" id="groupCreateModalLabel">Create Group</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <label for="name">Group Name</label>
                                <input type="text" name="name" class="form-control" placeholder="Group Name" required />
                            </div>
                            <div class="col-12 mt-4">
                                <label for="member_ids">Select Group Members</label>
                                <select name="member_ids[]" class="form-select form-select-solid" data-control="select2" data-placeholder="Select an option" data-allow-clear="true" multiple="multiple">
                                    {% for user in chatUsers %}
                                        <option value="{{ user.id }}">{{ user.fname }} {{ user.lname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.5.3/dist/perfect-scrollbar.min.js"></script>

    <script>
        $(document).ready(function () {
            const groupId = $('#groupId').val();
            const userProfileImage = "{{ userProfileImage }}"
                ? "{{ env.APP_URL }}uploads/profile/{{ userProfileImage }}"
                : "https://avatar.iran.liara.run/username?username={{ loginName }}";
            const wsUrl = 'wss://dev.techneketax.com/ws/';
            //const wsUrl = 'ws://localhost:8000/';
            let ws;

            function initializeWebSocket() {
                try {
                    ws = new WebSocket(wsUrl);

                    ws.onopen = function () {
                        console.log('WebSocket connected');
                        if (groupId) {
                            getGroupMessages(groupId);
                        }
                    };

                    ws.onmessage = function (event) {
                        console.log('WebSocket message received:', event.data);
                        handleIncomingMessage(JSON.parse(event.data));
                    };

                    ws.onerror = function (error) {
                        console.error('WebSocket error:', error);
                    };

                    ws.onclose = function (event) {
                        console.warn('WebSocket connection closed:', event);
                    };
                } catch (error) {
                    console.error('Error initializing WebSocket:', error);
                }
            }

            initializeWebSocket();

            function getGroupMessages(groupId) {
                $.ajax({
                    url: `/chat/messages/group/${groupId}`,
                    method: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        const chatContainer = $('#kt_chat_messenger_body [data-kt-element="messages"]');
                        chatContainer.empty(); // Clear existing messages

                        if (response.messages.length === 0) {
                            const noMessagesElement = `
                        <div class="text-muted text-center py-10">No messages</div>
                    `;
                            chatContainer.append(noMessagesElement);
                        } else {
                            let currentDate = '';

                            response.messages.forEach(message => {
                                const messageDate = timeAgo(message.timestamp);
                                if (messageDate !== currentDate) {
                                    currentDate = messageDate;
                                    const dateElement = `<div class="conversation-start"><span>${currentDate}</span></div>`;
                                    chatContainer.append(dateElement);
                                }

                                const messageElement = (message.sender === 'me') ?
                                    createOutgoingMessageElement(message) :
                                    createIncomingMessageElement(message);

                                chatContainer.append(messageElement);
                            });

                            chatContainer.scrollTop(chatContainer[0].scrollHeight);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('AJAX error fetching messages:', xhr.responseText);
                    }
                });
            }

            function timeAgo(timestamp) {
                const now = new Date();
                const messageTime = new Date(timestamp);
                const diffInSeconds = Math.floor((now - messageTime) / 1000);

                const intervals = {
                    year: 31536000,
                    month: 2592000,
                    day: 86400,
                    hour: 3600,
                    minute: 60,
                    second: 1
                };

                for (const interval in intervals) {
                    const diff = Math.floor(diffInSeconds / intervals[interval]);
                    if (diff > 1) {
                        return `${diff} ${interval}s ago`;
                    } else if (diff === 1) {
                        return `1 ${interval} ago`;
                    }
                }
                return "just now";
            }

            function createOutgoingMessageElement(message) {
                return `
            <div class="d-flex justify-content-end mb-10">
                <div class="d-flex flex-column align-items-end">
                    <div class="d-flex align-items-center mb-2">
                        <div class="me-3">
                            <span class="text-muted fs-7 mb-1">${timeAgo(message.timestamp)}</span>
                            <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary ms-1">You</a>
                        </div>
                        <div class="symbol symbol-35px symbol-circle">
                            <img alt="Pic" src="${userProfileImage}" />
                        </div>
                    </div>
                    <div class="p-5 rounded bg-light-primary text-dark fw-bold mw-lg-400px text-end" data-kt-element="message-text">${message.message}</div>
                </div>
            </div>
        `;
            }

            function createIncomingMessageElement(message) {
                return `
            <div class="d-flex justify-content-start mb-10">
                <div class="d-flex flex-column align-items-start">
                    <div class="d-flex align-items-center mb-2">
                        <div class="symbol symbol-35px symbol-circle">
                            <img alt="Pic" src="${message.senderProfileImage}" />
                        </div>
                        <div class="ms-3">
                            <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary me-1">${message.senderName}</a>
                            <span class="text-muted fs-7 mb-1">${new Date(message.timestamp).toLocaleTimeString()}</span>
                        </div>
                    </div>
                    <div class="p-5 rounded bg-light-info text-dark fw-bold mw-lg-400px text-start" data-kt-element="message-text">${message.message}</div>
                </div>
            </div>
        `;
            }

            function handleIncomingMessage(message) {
                const chatContainer = $('#kt_chat_messenger_body [data-kt-element="messages"]');
                const messageElement = createIncomingMessageElement(message);
                chatContainer.append(messageElement);
                chatContainer.scrollTop(chatContainer[0].scrollHeight);
            }

            function sendMessage(groupId) {
                const chatInput = $('[data-kt-element="input"]');
                const chatMessageValue = chatInput.val().trim();
                if (chatMessageValue === '') return;

                const messageData = {
                    sender_id: '{{ loginId }}',
                    group_id: groupId,
                    message: chatMessageValue
                };

                try {
                    ws.send(JSON.stringify(messageData));
                    const messageElement = createOutgoingMessageElement({
                        message: chatMessageValue,
                        timestamp: new Date(),
                        senderProfileImage: userProfileImage
                    });
                    const chatContainer = $('#kt_chat_messenger_body [data-kt-element="messages"]');
                    chatContainer.append(messageElement);
                    chatContainer.scrollTop(chatContainer[0].scrollHeight);
                    chatInput.val(''); // Clear the input
                } catch (error) {
                    console.error('Error sending message through WebSocket:', error);
                }
            }

            $('[data-kt-element="input"]').on('keydown', function (event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    sendMessage(groupId);
                }
            });

            $('[data-kt-element="send"]').on('click', function () {
                sendMessage(groupId);
            });
        });

        function timeAgo(timestamp) {
            const now = new Date();
            const messageTime = new Date(timestamp);
            const diffInSeconds = Math.floor((now - messageTime) / 1000);

            const intervals = {
                year: 31536000,
                month: 2592000,
                day: 86400,
                hour: 3600,
                minute: 60,
                second: 1
            };

            for (const interval in intervals) {
                const diff = Math.floor(diffInSeconds / intervals[interval]);
                if (diff > 1) {
                    return `${diff} ${interval}s ago`;
                } else if (diff === 1) {
                    return `1 ${interval} ago`;
                }
            }
            return "just now";
        }

    </script>
    <script>
        //SEARCH
        $(document).ready(function () {
            $('input[name="search"]').on('keyup', function () {
                const searchValue = $(this).val().toLowerCase().trim();
                console.log("Search Value:", searchValue);
                if (searchValue === "") {
                    $('#kt_chat_contacts_body .d-flex.flex-stack').show();
                    return;
                }
                $('#kt_chat_contacts_body .d-flex.flex-stack').each(function () {
                    const userName = $(this).attr('data-user-name').toLowerCase();
                    const userEmail = $(this).attr('data-user-email').toLowerCase();
                    if (userName.includes(searchValue) || userEmail.includes(searchValue)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });


    </script>

    <script>
        function deleteGroupMember(url, userId) {
            $.ajax({
                url: url,
                method: 'POST',
                dataType: 'json',
                success: function(response) {
                    if (response.status === true) {
                        // Remove the user from the list
                        $('#member-' + userId).remove();
                    } else {
                        alert('Failed to delete the member. Please try again.');
                    }
                },
                error: function(xhr, status, error) {
                    console.error('AJAX error:', xhr.responseText);
                    alert('An error occurred while processing your request.');
                }
            });
        }

        $(document).ready(function() {
            $('#addGroupMembers').on('click', function() {
                const selectedMembers = $('#Groupmember_ids').val();
                const groupId = '{{ groupId }}';

                if (selectedMembers.length > 0) {
                    $.ajax({
                        url: '/group/add-members',
                        method: 'POST',
                        data: {
                            group_id: groupId,
                            members: selectedMembers
                        },
                        dataType: 'json',
                        success: function(response) {
                            if (response.status === true) {
                                // Append new members to the list
                               window.location.reload();
                            } else {
                                alert('Failed to add members. Please try again.');
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error('AJAX error:', xhr.responseText);
                            alert('An error occurred while processing your request.');
                        }
                    });
                } else {
                    alert('Please select at least one member to add.');
                }
            });
        });




    </script>

{% endblock %}
