{% extends 'user/master.twig' %}
{% block content %}
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="toolbar" id="kt_toolbar">
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <!--begin::Page title-->
                <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                    <!--begin::Title-->
                    <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Basic Info</h1>
                    <!--end::Title-->
                    <!--begin::Separator-->
                    <span class="h-20px border-gray-300 border-start mx-4"></span>
                    <!--end::Separator-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                       <!--begin::Item-->
                        <li class="breadcrumb-item text-muted">Settings</li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-300 w-5px h-2px"></span>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-muted">Profile</li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-300 w-5px h-2px"></span>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-dark">Basic Info</li>
                        <!--end::Item-->
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page title-->
            </div>
        </div>
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container-fluid">
                <div class="card mb-5 mb-xl-10">
                    <div class="card-body pt-9 pb-0">
                        <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
                            <div class="me-7 mb-4">
                                <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative bg-light-danger" id="view_doc">

                                    <div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-white h-20px w-20px"></div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                                    <div class="d-flex flex-column">
                                        <div class="d-flex align-items-center mb-2">
                                            <a href="#"
                                               class="text-gray-900 text-hover-primary fs-2 fw-bolder me-1" id="fullNameFirst"></a>
                                            <a href="#">
                                                <span class="svg-icon svg-icon-1 svg-icon-primary">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                                         viewBox="0 0 24 24">
                                                        <path d="M10.0813 3.7242C10.8849 2.16438 13.1151 2.16438 13.9187 3.7242V3.7242C14.4016 4.66147 15.4909 5.1127 16.4951 4.79139V4.79139C18.1663 4.25668 19.7433 5.83365 19.2086 7.50485V7.50485C18.8873 8.50905 19.3385 9.59842 20.2758 10.0813V10.0813C21.8356 10.8849 21.8356 13.1151 20.2758 13.9187V13.9187C19.3385 14.4016 18.8873 15.491 19.2086 16.4951V16.4951C19.7433 18.1663 18.1663 19.7433 16.4951 19.2086V19.2086C15.491 18.8873 14.4016 19.3385 13.9187 20.2758V20.2758C13.1151 21.8356 10.8849 21.8356 10.0813 20.2758V20.2758C9.59842 19.3385 8.50905 18.8873 7.50485 19.2086V19.2086C5.83365 19.7433 4.25668 18.1663 4.79139 16.4951V16.4951C5.1127 15.491 4.66147 14.4016 3.7242 13.9187V13.9187C2.16438 13.1151 2.16438 10.8849 3.7242 10.0813V10.0813C4.66147 9.59842 5.1127 8.50905 4.79139 7.50485V7.50485C4.25668 5.83365 5.83365 4.25668 7.50485 4.79139V4.79139C8.50905 5.1127 9.59842 4.66147 10.0813 3.7242V3.7242Z"
                                                              fill="#00A3FF"/>
                                                        <path class="permanent"
                                                              d="M14.8563 9.1903C15.0606 8.94984 15.3771 8.9385 15.6175 9.14289C15.858 9.34728 15.8229 9.66433 15.6185 9.9048L11.863 14.6558C11.6554 14.9001 11.2876 14.9258 11.048 14.7128L8.47656 12.4271C8.24068 12.2174 8.21944 11.8563 8.42911 11.6204C8.63877 11.3845 8.99996 11.3633 9.23583 11.5729L11.3706 13.4705L14.8563 9.1903Z"
                                                              fill="white"/>
                                                    </svg>
                                                </span>
                                            </a>
                                            <a href="/user/plans"
                                               class="btn btn-sm btn-light-success fw-bolder ms-2 fs-8 py-1 px-3"
                                               data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">Upgrade to
                                                Pro</a>
                                        </div>
                                    </div>

                                </div>
                                <div class="d-flex flex-wrap flex-stack">
                                    <div class="d-flex flex-column flex-grow-1 pe-8">
                                        <div class="d-flex flex-wrap">
                                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                                <a href="/user/appointments">
                                                <div class="d-flex align-items-center">
                                                    <span class="svg-icon svg-icon-3 svg-icon-success me-2">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                             viewBox="0 0 24 24" fill="none">
                                                            <rect opacity="0.5" x="13" y="6" width="13" height="2"
                                                                  rx="1" transform="rotate(90 13 6)"
                                                                  fill="currentColor"/>
                                                            <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z"
                                                                  fill="currentColor"/>
                                                        </svg>
                                                    </span>
                                                    <div class="fs-2 fw-bolder text-dark" data-kt-countup="true"  data-kt-countup-prefix="" id="appointmentCount">
                                                    </div>
                                                </div>
                                                <div class="fw-bold fs-6 text-gray-400">Appointments</div>
                                                </a>
                                            </div>
                                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                                <a href="/user/invoices">
                                                <div class="d-flex align-items-center">
                                                    <span class="svg-icon svg-icon-3 svg-icon-danger me-2">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                             viewBox="0 0 24 24" fill="none">
                                                            <rect opacity="0.5" x="11" y="18" width="13" height="2"
                                                                  rx="1" transform="rotate(-90 11 18)"
                                                                  fill="currentColor"/>
                                                            <path d="M11.4343 15.4343L7.25 11.25C6.83579 10.8358 6.16421 10.8358 5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75L11.2929 18.2929C11.6834 18.6834 12.3166 18.6834 12.7071 18.2929L18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25C17.8358 10.8358 17.1642 10.8358 16.75 11.25L12.5657 15.4343C12.2533 15.7467 11.7467 15.7467 11.4343 15.4343Z"
                                                                  fill="currentColor"/>
                                                        </svg>
                                                    </span>
                                                    <div class="fs-2 fw-bolder text-dark" data-kt-countup="true" id="invoiceUnpaidCount">
                                                    </div>
                                                </div>
                                                <div class="fw-bold fs-6 text-gray-400">Un Paid invoices</div>
                                                </a>
                                            </div>
                                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                                <a href="/user/invoices">
                                                <div class="d-flex align-items-center">
                                                    <span class="svg-icon svg-icon-3 svg-icon-success me-2">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                             viewBox="0 0 24 24" fill="none">
                                                            <rect opacity="0.5" x="13" y="6" width="13" height="2"
                                                                  rx="1" transform="rotate(90 13 6)"
                                                                  fill="currentColor"/>
                                                            <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z"
                                                                  fill="currentColor"/>
                                                        </svg>
                                                    </span>
                                                    <div class="fs-2 fw-bolder text-dark" data-kt-countup="true" id="invoicePaid">
                                                    </div>
                                                </div>
                                                <div class="fw-bold fs-6 text-gray-400">Paid Invoices</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder">
                            <li class="nav-item mt-2">
                                <a class="nav-link text-active-primary ms-0 me-10 py-5 active" href="/user/profile">Basic
                                    Info</a>
                            </li>
                            {% if loginType == 'firm' %}
                                <li class="nav-item mt-2">
                                    <a class="nav-link text-active-primary ms-0 me-10 py-5 " href="/user/firm-info">Firm Info</a>
                                </li>
                            {% endif %}
                            <li class="nav-item mt-2">
                                <a class="nav-link text-active-primary ms-0 me-10 py-5" href="/user/profile/security">Security</a>
                            </li>
                            <li class="nav-item mt-2">
                                <a class="nav-link text-active-primary ms-0 me-10 py-5" href="/user/profile/billing">Billing</a>
                            </li>
                            <li class="nav-item mt-2">
                                <a class="nav-link text-active-primary ms-0 me-10 py-5" href="/user/profile/paymentMethod">Payment Method</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                    <div class="card-header cursor-pointer">
                        <div class="card-title m-0">
                            <h3 class="fw-bolder m-0">Basic Info </h3>
                        </div>
                        <button type="button" class="btn btn-primary align-self-center" data-bs-toggle="modal"
                                data-bs-target="#kt_modal_add_user">
                            Edit Basic info
                        </button>

                    </div>
                    <div class="card-body p-9">

                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Full Name</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800" id="fullName"></span>
                            </div>
                        </div>
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted"> Phone
                                <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip"
                                   title="Phone number must be active"></i></label>
                            <div class="col-lg-8 d-flex align-items-center">
                                <span class="fw-bolder fs-6 text-gray-800 me-2" id="phone"></span>
                            </div>
                        </div>
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Email
                                <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip"
                                   title="Email must be active"></i></label>
                            <div class="col-lg-8">
                                <a href="#"
                                   class="fw-bold fs-6 text-gray-800 text-hover-primary" id="email"></a>
                            </div>
                        </div>
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Address
                                <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip"
                                   title="Enter Complete Address"></i></label>
                            <div class="col-lg-8">
                                <a href="#"
                                   class="fw-bold fs-6 text-gray-800 text-hover-primary" id="address"></a>
                            </div>
                        </div>

                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Linked in</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800" id="linkedin"></span>
                            </div>
                        </div>
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Twitter (X)</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800" id="tweet"></span>
                            </div>
                        </div>
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Facebook</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800" id="facebook"></span>
                            </div>
                        </div>

                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Git Hub</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800" id="github"></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade " id="kt_modal_add_user" tabindex="-1" style="display: none; " aria-modal="true"
         role="dialog">

        <div class="modal-dialog modal-dialog-centered mw-650px">

            <div class="modal-content">

                <div class="modal-header" id="kt_modal_add_user_header">

                    <h2 class="fw-bolder">Edit Basic Info</h2>


                    <div class="btn btn-icon btn-sm btn-active-icon-primary " data-bs-dismiss="modal" aria-label="btn-close">

                        <span class="svg-icon svg-icon-1">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                         height="24" viewBox="0 0 24 24" fill="none">
																		<rect opacity="0.5" x="6" y="17.3137" width="16"
                                                                              height="2" rx="1"
                                                                              transform="rotate(-45 6 17.3137)"
                                                                              fill="currentColor"></rect>
																		<rect x="7.41422" y="6" width="16" height="2"
                                                                              rx="1" transform="rotate(45 7.41422 6)"
                                                                              fill="currentColor"></rect>
																	</svg>
																</span>

                    </div>

                </div>


                <div class="modal-body scroll-y mx-5 mx-xl-5 my-7">

                    <form id="general_information" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">

                        <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll"
                             data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                             data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header"
                             data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px"
                             style="max-height: 570px;">

                            <div class="fv-row mb-7">

                                <label class="d-block fw-bold fs-6 mb-5">Avatar</label>
                                <div class="image-input image-input-outline image-input-empty"
                                     data-kt-image-input="true">

                                    <div class="image-input-wrapper w-125px h-125px"
                                         style="background-image: none"></div>
                                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                           data-kt-image-input-action="change" data-bs-toggle="tooltip" title=""
                                           data-bs-original-title="Change avatar">
                                        <i class="bi bi-pencil-fill fs-7"></i>
                                        <input type="file" name="filepond" accept=".png, .jpg, .jpeg">
                                        <input type="hidden" name="avatar_remove" value="1">
                                    </label>

                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                          data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title=""
                                          data-bs-original-title="Cancel avatar">
                    <i class="bi bi-x fs-2"></i>
                </span>
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                          data-kt-image-input-action="remove" data-bs-toggle="tooltip" title=""
                                          data-bs-original-title="Remove avatar">
                    <i class="bi bi-x fs-2"></i>
                </span>
                                </div>
                                <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
                            </div>
                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="required fw-bold fs-6 mb-2">First Name</label>
                                <input type="text" name="fname" id="fname_model" class="form-control form-control-solid mb-3 mb-lg-0"
                                       placeholder="First name" >
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <input type="hidden" id="id" name="basic_id" value="{{ userinfo[0].id }}">
                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="required fw-bold fs-6 mb-2">Last Name</label>
                                <input type="text" name="lname" id="lname_model" class="form-control form-control-solid mb-3 mb-lg-0"
                                       placeholder="Last name" >
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="required fw-bold fs-6 mb-2">Phone</label>
                                <input type="tel" name="phone"
                                       class="form-control form-control-solid mb-3 mb-lg-0"
                                       placeholder="(XXX) XXX-XXXX" id="phone_model">

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="required fw-bold fs-6 mb-2">Email</label>
                                <input type="email" name="user_email"
                                       class="form-control form-control-solid mb-3 mb-lg-0"
                                       placeholder="example@domain.com" id="email_model">

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="required fw-bold fs-6 mb-2">Address</label>
                                <input type="text" name="address"
                                       class="form-control form-control-solid mb-3 mb-lg-0"
                                       placeholder="Address" id="address_model">

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>

                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="required fw-bold fs-6 mb-2">Linkedin </label>
                                <input type="url" name="linkedin"
                                       class="form-control form-control-solid mb-3 mb-lg-0"
                                       placeholder="Linkedin Username" id="linkedin_model">

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>

                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="required fw-bold fs-6 mb-2">Twitter </label>
                                <input type="url" name="tweet"
                                       class="form-control form-control-solid mb-3 mb-lg-0"
                                       placeholder="Twitter Username" id="tweet_model">

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="required fw-bold fs-6 mb-2">Facebook </label>
                                <input type="url" name="facebook"
                                       class="form-control form-control-solid mb-3 mb-lg-0"
                                       placeholder="Facebook Username" id="facebook_model">

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="required fw-bold fs-6 mb-2">Github </label>
                                <input type="url" name="github"
                                       class="form-control form-control-solid mb-3 mb-lg-0"
                                       placeholder="Github Username" id="github_model">

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>


                        <div class="text-center pt-15">
                            <button type="button"  class="btn btn-light me-3 swal2-confirm" data-bs-dismiss="modal">
                                Discard
                            </button>
                            <button type="button" onclick="do_profile()" id="btn" class="btn btn-primary" data-kt-users-modal-action="submit">
                                <span class="indicator-label">Submit</span>
                                <span class="indicator-progress">Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                            </button>
                        </div>

                        <div></div>
                    </form>
                </div>

            </div>

        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!--  END CONTENT AREA  -->
    <script>
        function closeModal(id){
            $('#'+id).modal('hide');
        }
        function do_profile() {
            document.getElementById('btn').disabled = true;
            var formData = new FormData(document.getElementById("general_information"));
            $.ajax({
                url: "/user/profile",
                type: "POST",
                data: formData,
                contentType: false,
                cache: false,
                processData: false,
                success: function (dataResult) {
                    console.log(dataResult);
                    if (dataResult == 1) {
                        document.getElementById('btn').disabled = false;
                        toastr.success('Updated Successfully.');
                        document.getElementById("general_information").reset();
                        $('#kt_modal_add_user').modal('hide');
                        fetch_profile()
                    } else if (dataResult == 2) {
                        toastr.error("Please Fill all the required Fields");
                        document.getElementById('btn').disabled = false;
                    } else {
                        toastr.error('Something Went Wrong.');
                        document.getElementById('btn').disabled = false;
                    }
                }
            });
        }

        $(document).ready(function () {
            fetch_profile()
        });
        function fetch_profile() {
            var id = {{ loginId }};
            $.ajax({
                url: "/user/fetch_profile",
                type: "POST",
                data: {
                    edit: 1,
                    id: id,
                },
                cache: false,
                success: function (dataResult) {
                    var dataResult = JSON.parse(dataResult);
                    console.log(dataResult);
                    $('#fullNameFirst').html(dataResult['users'][0].fname+' '+dataResult['users'][0].lname);
                    $('#fullName').html(dataResult['users'][0].fname+' '+dataResult['users'][0].lname);
                    $('#phone').html(dataResult['users'][0].phone);
                    $('#email').html(dataResult['users'][0].email);
                    $('#address').html(dataResult['users'][0].address);
                    $('#linkedin').html(dataResult['users'][0].linkedin);
                    $('#tweet').html(dataResult['users'][0].tweet);
                    $('#facebook').html(dataResult['users'][0].facebook);
                    $('#github').html(dataResult['users'][0].github);

                    $('#fname_model').val(dataResult['users'][0].fname);
                    $('#lname_model').val(dataResult['users'][0].lname);
                    $('#phone_model').val(dataResult['users'][0].phone);
                    $('#email_model').val(dataResult['users'][0].email);
                    $('#address_model').val(dataResult['users'][0].address);
                    $('#linkedin_model').val(dataResult['users'][0].linkedin);
                    $('#tweet_model').val(dataResult['users'][0].tweet);
                    $('#facebook_model').val(dataResult['users'][0].facebook);
                    $('#github_model').val(dataResult['users'][0].github);
                    var profileImage = dataResult['users'][0].profile_image;
                    var imageUrl = profileImage !== 'avatar.png'
                        ? "{{ env.APP_URL }}uploads/profile/" + profileImage
                        : "{{ env.APP_URL }}assets/dash/assets/media/svg/avatars/blank.svg";

                    // Set the background image dynamically
                    $('.image-input').css('background-image', 'url(' + imageUrl + ')');
                    $("#view_doc").html('');
                    if(dataResult['users'][0].profile_image != 'null' && dataResult['users'][0].profile_image != ''&& dataResult['users'][0].profile_image != null) {
                        $("#view_doc").append('<img src="{{ env.APP_URL }}uploads/profile/'+dataResult['users'][0].profile_image+'" >');
                        console.log(dataResult['users'][0].profile_image)
                    }else{
                        $("#view_doc").append('<img src="https://avatar.iran.liara.run/username?username={{ loginName }}" >');
                        console.log("lora lele")
                    }
                    if(dataResult['appointment'] != ''){
                        $('#appointmentCount').html(dataResult['appointment']);
                    }else{
                        $('#appointmentCount').html(0);
                    }
                    if(dataResult['invoiceUnpaid'] != '') {
                        $('#invoiceUnpaidCount').html(dataResult['invoiceUnpaid']);
                    }else{
                        $('#invoiceUnpaidCount').html(0);
                    }
                    if(dataResult['invoicePaid'] != '') {
                        $('#invoicePaid').html(dataResult['invoicePaid']);
                    }else{
                        $('#invoicePaid').html(0);
                    }
                }
            });
        }
    </script>

{% endblock %}
